<h2><span class="mw-headline" id="Act_3">Act 3</span></h2>
<figure class="thumb tright " style="width: 300px"> <a
    href="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/c/cb/Dominus_screenshot.png/revision/latest?cb=20131120201403"
    class="image"><img alt=""
      src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/c/cb/Dominus_screenshot.png/revision/latest/scale-to-width-down/300?cb=20131120201403"
      decoding="async" class="thumbimage lazyloaded" data-image-name="Dominus screenshot.png"
      data-image-key="Dominus_screenshot.png"
      data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/c/cb/Dominus_screenshot.png/revision/latest/scale-to-width-down/300?cb=20131120201403"
      width="300" height="326"></a> <noscript><a
      href="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/c/cb/Dominus_screenshot.png/revision/latest?cb=20131120201403"
      class="image"><img alt=""
        src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/c/cb/Dominus_screenshot.png/revision/latest/scale-to-width-down/300?cb=20131120201403"
        decoding="async" width="300" height="326" class="thumbimage" data-image-name="Dominus screenshot.png"
        data-image-key="Dominus_screenshot.png"
        data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/c/cb/Dominus_screenshot.png/revision/latest/scale-to-width-down/300?cb=20131120201403" /></a></noscript>
  <figcaption class="thumbcaption">
    <p class="caption"><a href="/wiki/Dominus,_High_Templar" class="mw-redirect"
        title="Dominus, High Templar">Dominus, High Templar</a>, the final boss of Act III</p>
  </figcaption>
</figure>
<ol>
  <li><a href="/wiki/The_City_of_Sarn" title="The City of Sarn">The City of Sarn</a> - Tag WP - Kill <span
      class="text-color -corrupted"><a href="/wiki/Guard_Captain" title="Guard Captain">Guard Captain</a></span> -
    Talk to Clarissa - Go to Town</li>
  <li>Town - Go to Slums</li>
  <li><a href="/wiki/Slums" class="mw-redirect" title="Slums">Slums</a> - Go to Crematorium</li>
  <li><a href="/wiki/Crematorium" class="mw-redirect" title="Crematorium">Crematorium</a> - Tag WP - <span
      style="line-height:35px;border: solid 1px #ae8223;padding: 5px;"><span
        style="color:#f2c462;padding-left:5px;padding-right:5px;"><b>Once per league:</b></span><span
        style="color:#bbad98;padding-right:5px;">Solve Trial</span></span> - Kill <span
      class="text-color -corrupted"><a href="/wiki/Piety_of_Theopolis" title="Piety of Theopolis">Piety</a></span> -
    Get <span class="text-color -quest"><span class="c-item-hoverbox"><span class="c-item-hoverbox__activator"><img
            alt=""
            src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/5/5f/Tolman%27s_Bracelet_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20130626162432"
            decoding="async" data-image-name="Tolman's Bracelet inventory icon.png"
            data-image-key="Tolman%27s_Bracelet_inventory_icon.png"
            data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/5/5f/Tolman%27s_Bracelet_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20130626162432"
            class=" lazyloaded" width="16" height="16"><a href="/wiki/Tolman%27s_Bracelet"
            title="Tolman's Bracelet">Tolman's Bracelet</a></span></span></span> - TP to Town</li>
  <li>Town - Get <span class="text-color -quest"><span class="c-item-hoverbox"><span
          class="c-item-hoverbox__activator"><img alt=""
            src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/2/2f/Sewer_Keys_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20130626162407"
            decoding="async" data-image-name="Sewer Keys inventory icon.png"
            data-image-key="Sewer_Keys_inventory_icon.png"
            data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/2/2f/Sewer_Keys_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20130626162407"
            class=" lazyloaded" width="16" height="16"><a href="/wiki/Sewer_Keys" title="Sewer Keys">Sewer
            Keys</a></span></span></span> from Clarissa - Go to Slums</li>
  <li>Slums - Open <span class="text-color -quest">Sewer Grating</span> (top) - Go to Sewers</li>
  <li><a href="/wiki/The_Sewers" title="The Sewers">The Sewers</a> - Take <span class="text-color -quest"><span
        class="c-item-hoverbox"><span class="c-item-hoverbox__activator"><img alt=""
            src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/1/11/Bust_of_Gaius_Sentari_inventory_icon.png/revision/latest/scale-to-width-down/7?cb=20130626162207"
            decoding="async" data-image-name="Bust of Gaius Sentari inventory icon.png"
            data-image-key="Bust_of_Gaius_Sentari_inventory_icon.png"
            data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/1/11/Bust_of_Gaius_Sentari_inventory_icon.png/revision/latest/scale-to-width-down/7?cb=20130626162207"
            class=" lazyloaded" width="7" height="16"><a href="/wiki/Bust_of_Gaius_Sentari"
            title="Bust of Gaius Sentari">Bust of Gaius Sentari</a></span></span></span> - Tag WP - Take <span
      class="text-color -quest"><span class="c-item-hoverbox"><span class="c-item-hoverbox__activator"><img alt=""
            src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/8/8a/Bust_of_Hector_Titucius_inventory_icon.png/revision/latest/scale-to-width-down/7?cb=20130626162207"
            decoding="async" data-image-name="Bust of Hector Titucius inventory icon.png"
            data-image-key="Bust_of_Hector_Titucius_inventory_icon.png"
            data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/8/8a/Bust_of_Hector_Titucius_inventory_icon.png/revision/latest/scale-to-width-down/7?cb=20130626162207"
            class=" lazyloaded" width="7" height="16"><a href="/wiki/Bust_of_Hector_Titucius"
            title="Bust of Hector Titucius">Bust of Hector Titucius</a></span></span></span> and <span
      class="text-color -quest"><span class="c-item-hoverbox"><span class="c-item-hoverbox__activator"><img alt=""
            src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/4/48/Bust_of_Marceus_Lioneye_inventory_icon.png/revision/latest/scale-to-width-down/7?cb=20130626162208"
            decoding="async" data-image-name="Bust of Marceus Lioneye inventory icon.png"
            data-image-key="Bust_of_Marceus_Lioneye_inventory_icon.png"
            data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/4/48/Bust_of_Marceus_Lioneye_inventory_icon.png/revision/latest/scale-to-width-down/7?cb=20130626162208"
            class=" lazyloaded" width="7" height="16"><a href="/wiki/Bust_of_Marceus_Lioneye"
            title="Bust of Marceus Lioneye">Bust of Marceus Lioneye</a></span></span></span> - Go to Marketplace (top)
  </li>
  <li><a href="/wiki/Marketplace" class="mw-redirect" title="Marketplace">Marketplace</a> - Tag WP - <span
      style="line-height:35px;border: solid 1px #ae8223;padding: 5px;"><span
        style="color:#f2c462;padding-left:5px;padding-right:5px;"><b>Once per league:</b></span><span
        style="color:#bbad98;padding-right:5px;">Go to <a href="/wiki/Catacombs" class="mw-redirect"
          title="Catacombs">Catacombs</a> (near WP) - Solve Trial</span></span> - TP to Town</li>
  <li>Town - Talk to NPCs - WP to Marketplace - Go to Battlefront (up/left)</li>
  <li><a href="/wiki/Battlefront" class="mw-redirect" title="Battlefront">Battlefront</a> - Tag WP - Kill <span
      class="text-color -corrupted"><a href="/wiki/Captain_Aurelianus"
        title="Captain Aurelianus">Aurelianus</a></span> - Take <span class="text-color -quest"><span
        class="c-item-hoverbox"><span class="c-item-hoverbox__activator"><img alt=""
            src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/1/13/Ribbon_Spool_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20130626162400"
            decoding="async" data-image-name="Ribbon Spool inventory icon.png"
            data-image-key="Ribbon_Spool_inventory_icon.png"
            data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/1/13/Ribbon_Spool_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20130626162400"
            class=" lazyloaded" width="16" height="16"><a href="/wiki/Ribbon_Spool" title="Ribbon Spool">Ribbon
            Spool</a></span></span></span> - Go to Docks (left)</li>
  <li><a href="/wiki/Docks" class="mw-redirect" title="Docks">Docks</a> - Tag WP (near <a href="/wiki/Fairgraves"
      class="mw-redirect" title="Fairgraves">Fairgraves</a>) - Take <span class="text-color -quest"><span
        class="c-item-hoverbox"><span class="c-item-hoverbox__activator"><img alt=""
            src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/0/04/Thaumetic_Sulphite_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20130626162427"
            decoding="async" data-image-name="Thaumetic Sulphite inventory icon.png"
            data-image-key="Thaumetic_Sulphite_inventory_icon.png"
            data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/0/04/Thaumetic_Sulphite_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20130626162427"
            class=" lazyloaded" width="16" height="16"><a href="/wiki/Thaumetic_Sulphite"
            title="Thaumetic Sulphite">Thaumetic Sulphite</a></span></span></span> (near WP) - TP to Town - WP to
    Battlefront</li>
  <li>Battlefront - Go to Solaris Temple (up)</li>
  <li><a href="/wiki/Solaris_Temple_Level_1" class="mw-redirect" title="Solaris Temple Level 1">Solaris Temple Level
      1</a> - Tag WP - Go to Solaris Temple Level 2</li>
  <li><a href="/wiki/Solaris_Temple_Level_2" class="mw-redirect" title="Solaris Temple Level 2">Solaris Temple Level
      2</a> - Tag WP - Talk to Dialla for <span class="text-color -quest"><span class="c-item-hoverbox"><span
          class="c-item-hoverbox__activator"><img alt=""
            src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/f/f8/Infernal_Talc_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20130626162305"
            decoding="async" data-image-name="Infernal Talc inventory icon.png"
            data-image-key="Infernal_Talc_inventory_icon.png"
            data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/f/f8/Infernal_Talc_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20130626162305"
            class=" lazyloaded" width="16" height="16"><a href="/wiki/Infernal_Talc" title="Infernal Talc">Infernal
            Talc</a></span></span></span> - WP to Sewers</li>
  <li>Sewers - Open <span class="text-color -quest">Undying Blockage</span> - Go to Ebony Barracks</li>
  <li><a href="/wiki/Ebony_Barracks" class="mw-redirect" title="Ebony Barracks">Ebony Barracks</a> - Tag WP - Kill
    <span class="text-color -corrupted"><a href="/wiki/General_Gravicius" title="General Gravicius">General
        Gravicius</a></span> (up) - Go to Lunaris Temple (up)</li>
  <li><a href="/wiki/Lunaris_Temple_Level_1" class="mw-redirect" title="Lunaris Temple Level 1">Lunaris Temple Level
      1</a> - Tag WP - Go to Lunaris Temple Level 2</li>
  <li><a href="/wiki/Lunaris_Temple_Level_2" class="mw-redirect" title="Lunaris Temple Level 2">Lunaris Temple Level
      2</a> - Kill <span class="text-color -corrupted"><a href="/wiki/Piety_of_Theopolis"
        title="Piety of Theopolis">Piety</a></span> - Take <span class="text-color -quest"><span
        class="c-item-hoverbox"><span class="c-item-hoverbox__activator"><img alt=""
            src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/5/52/Tower_Key_inventory_icon.png/revision/latest/scale-to-width-down/8?cb=20130626162432"
            decoding="async" data-image-name="Tower Key inventory icon.png"
            data-image-key="Tower_Key_inventory_icon.png"
            data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/5/52/Tower_Key_inventory_icon.png/revision/latest/scale-to-width-down/8?cb=20130626162432"
            class=" lazyloaded" width="8" height="16"><a href="/wiki/Tower_Key" title="Tower Key">Tower
            Key</a></span></span></span> - TP to Town</li>
  <li>Town - Talk to NPCs - WP to Ebony Barracks</li>
  <li>Ebony Barracks - Go to Imperial Gardens (right/top right)</li>
  <li>Imperial Gardens - Tag WP - <span style="line-height:35px;border: solid 1px #ae8223;padding: 5px;"><span
        style="color:#f2c462;padding-left:5px;padding-right:5px;"><b>Once per league:</b></span><span
        style="color:#bbad98;padding-right:5px;">Solve Trial (top)</span></span> - Open <span
      class="text-color -quest">Locked Room</span> (top/right) - Go to Sceptre of God</li>
  <li><a href="/wiki/Sceptre_of_God" class="mw-redirect" title="Sceptre of God">Sceptre of God</a> - Go to Upper
    Sceptre of God</li>
  <li><a href="/wiki/Upper_Sceptre_of_God" class="mw-redirect" title="Upper Sceptre of God">Upper Sceptre of God</a> -
    Go to Tower Rooftop</li>
  <li>Tower Rooftop - Kill <span class="text-color -corrupted"><a href="/wiki/Dominus"
        title="Dominus">Dominus</a></span> and <span class="text-color -corrupted"><a href="/wiki/Dominus,_Ascendant"
        class="mw-redirect" title="Dominus, Ascendant">Dominus, Ascendant</a></span> - Go to Act IV</li>
</ol>
<h3><span class="mw-headline" id="All_Skill_Gems">All Skill Gems</span></h3>
<p>If players require skill gems for their build, they can purchase it from <a href="/wiki/Siosa"
    title="Siosa">Siosa</a> at <a href="/wiki/The_Library" title="The Library">The Library</a>:
</p>
<ol>
  <li>TP to Imperial Gardens - Go to Library (top-left)</li>
  <li><a href="/wiki/The_Library" title="The Library">The Library</a> - Tag WP (near Siosa) - Talk to <a
      href="/wiki/Siosa" title="Siosa">Siosa</a> - Activate <span class="text-color -quest">Loose Candle</span>
    (top-left/bottom-left of area) - Go to Archives</li>
  <li><a href="/wiki/The_Archives" title="The Archives">The Archives</a> - Find 4 <span class="text-color -quest"><a
        href="/wiki/Golden_Page" title="Golden Page">Golden Pages</a></span> - Go to Library</li>
  <li>Library - Talk to Siosa - Purchase Skill Gems</li>
  <li>If certain skill gems are unavailable at Siosa, then players must wait for Act 7 after which <a
      href="/wiki/Lilly_Roth" title="Lilly Roth">Lilly Roth</a> offers all gems in the game</li>
</ol>
