<h2><span class="mw-headline" id="Act_9">Act 9</span></h2>
<figure class="thumb tright " style="width: 300px"> <a
    href="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/5/53/The_Depraved_Trinity.png/revision/latest?cb=20210224125203"
    class="image"><img alt=""
      src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/5/53/The_Depraved_Trinity.png/revision/latest/scale-to-width-down/300?cb=20210224125203"
      decoding="async" class="thumbimage lazyloaded" data-image-name="The Depraved Trinity.png"
      data-image-key="The_Depraved_Trinity.png"
      data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/5/53/The_Depraved_Trinity.png/revision/latest/scale-to-width-down/300?cb=20210224125203"
      width="300" height="282"></a> <noscript><a
      href="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/5/53/The_Depraved_Trinity.png/revision/latest?cb=20210224125203"
      class="image"><img alt=""
        src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/5/53/The_Depraved_Trinity.png/revision/latest/scale-to-width-down/300?cb=20210224125203"
        decoding="async" width="300" height="282" class="thumbimage" data-image-name="The Depraved Trinity.png"
        data-image-key="The_Depraved_Trinity.png"
        data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/5/53/The_Depraved_Trinity.png/revision/latest/scale-to-width-down/300?cb=20210224125203" /></a></noscript>
  <figcaption class="thumbcaption">
    <p class="caption"><a href="/wiki/The_Depraved_Trinity" title="The Depraved Trinity">The Depraved Trinity</a>, the
      final boss of Act IX</p>
  </figcaption>
</figure>
<ol>
  <li><a href="/wiki/The_Blood_Aqueduct" title="The Blood Aqueduct">The Blood Aqueduct</a> - Tag WP - Go to Highgate
  </li>
  <li><a href="/wiki/Highgate" title="Highgate">Highgate</a> - Go to Descent (top-right exit of Town)</li>
  <li><a href="/wiki/Descent" title="Descent">Descent</a> - Go to Supply Hoist (twice) - Go to Vastiri Desert</li>
  <li><a href="/wiki/The_Vastiri_Desert" title="The Vastiri Desert">The Vastiri Desert</a> - Tag WP - Open <span
      class="text-color -quest">Storm-Weathered Chest</span> - Kill Monsters - Pick up <span
      class="text-color -quest"><span class="c-item-hoverbox"><span class="c-item-hoverbox__activator"><img alt=""
            src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/f/fb/Storm_Blade_inventory_icon.png/revision/latest/scale-to-width-down/8?cb=20170804161148"
            decoding="async" data-image-name="Storm Blade inventory icon.png"
            data-image-key="Storm_Blade_inventory_icon.png"
            data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/f/fb/Storm_Blade_inventory_icon.png/revision/latest/scale-to-width-down/8?cb=20170804161148"
            class=" lazyloaded" width="8" height="16"><a href="/wiki/Storm_Blade" title="Storm Blade">Storm
            Blade</a></span></span></span> - TP to Town</li>
  <li>Town - Talk to NPCs for <span class="text-color -quest"><span class="c-item-hoverbox"><span
          class="c-item-hoverbox__activator"><img alt=""
            src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/b/bb/Bottled_Storm_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20171210213735"
            decoding="async" data-image-name="Bottled Storm inventory icon.png"
            data-image-key="Bottled_Storm_inventory_icon.png"
            data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/b/bb/Bottled_Storm_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20171210213735"
            class=" lazyloaded" width="16" height="16"><a href="/wiki/Bottled_Storm" title="Bottled Storm">Bottled
            Storm</a></span></span></span> - TP to Vastiri Dessert</li>
  <li>Vastiri Dessert - Go to Oasis (up/right)</li>
  <li><a href="/wiki/Oasis" class="mw-redirect" title="Oasis">Oasis</a> - Go to The Sand Pit - Kill <span
      class="text-color -corrupted"><a href="/wiki/Shakari,_Queen_of_the_Sands"
        title="Shakari, Queen of the Sands">Shakari</a></span> - TP to Town - WP to Vastiri Dessert</li>
  <li>Vastiri Dessert - Go to Foothills (up/left)</li>
  <li><a href="/wiki/The_Foothills" title="The Foothills">The Foothills</a> - Tag WP (up) - Go to Boiling Lake
    (up/right from WP)</li>
  <li><a href="/wiki/The_Boiling_Lake" title="The Boiling Lake">The Boiling Lake</a> - Kill <span
      class="text-color -corrupted"><a href="/wiki/The_Basilisk" title="The Basilisk">Basilisk</a></span> - Take <span
      class="text-color -quest"><span class="c-item-hoverbox"><span class="c-item-hoverbox__activator"><img alt=""
            src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/7/74/Basilisk_Acid_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20170804160550"
            decoding="async" data-image-name="Basilisk Acid inventory icon.png"
            data-image-key="Basilisk_Acid_inventory_icon.png"
            data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/7/74/Basilisk_Acid_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20170804160550"
            class=" lazyloaded" width="16" height="16"><a href="/wiki/Basilisk_Acid" title="Basilisk Acid">Basilisk
            Acid</a></span></span></span> - TP to Town</li>
  <li>Town - WP to Foothills</li>
  <li>Foothills - Go to Tunnel (top/left)</li>
  <li><a href="/wiki/Tunnel" title="Tunnel">Tunnel</a> - Tag WP - <span
      style="line-height:35px;border: solid 1px #ae8223;padding: 5px;"><span
        style="color:#f2c462;padding-left:5px;padding-right:5px;"><b>Once per league:</b></span><span
        style="color:#bbad98;padding-right:5px;">Solve Trial (before the WP)</span></span> - Go to Quarry</li>
  <li><a href="/wiki/Quarry" class="mw-redirect" title="Quarry">Quarry</a> - Tag WP - Go to Shrine of the Winds (top
    right/top left) - Kill <span class="text-color -corrupted"><a href="/wiki/Garukhan,_Queen_of_the_Winds"
        title="Garukhan, Queen of the Winds">Garukhan</a></span> and <span class="text-color -corrupted"><a
        href="/wiki/Kira,_Servant_of_Garukhan" title="Kira, Servant of Garukhan">Kira</a></span> - Take <span
      class="text-color -quest"><span class="c-item-hoverbox"><span class="c-item-hoverbox__activator"><img alt=""
            src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/9/99/Sekhema_Feather_inventory_icon.png/revision/latest/scale-to-width-down/8?cb=20170804161105"
            decoding="async" data-image-name="Sekhema Feather inventory icon.png"
            data-image-key="Sekhema_Feather_inventory_icon.png"
            data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/9/99/Sekhema_Feather_inventory_icon.png/revision/latest/scale-to-width-down/8?cb=20170804161105"
            class=" lazyloaded" width="8" height="16"><a href="/wiki/Sekhema_Feather" title="Sekhema Feather">Sekhema
            Feather</a></span></span></span> - Go to Refinery (top right/top left)</li>
  <li><a href="/wiki/The_Refinery" title="The Refinery">The Refinery</a> - Kill <span class="text-color -corrupted"><a
        href="/wiki/General_Adus" title="General Adus">General Adus</a></span> - Take <span
      class="text-color -quest"><span class="c-item-hoverbox"><span class="c-item-hoverbox__activator"><img alt=""
            src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/4/4a/Trarthan_Powder_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20170804161258"
            decoding="async" data-image-name="Trarthan Powder inventory icon.png"
            data-image-key="Trarthan_Powder_inventory_icon.png"
            data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/4/4a/Trarthan_Powder_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20170804161258"
            class=" lazyloaded" width="16" height="16"><a href="/wiki/Trarthan_Powder"
            title="Trarthan Powder">Trarthan Powder</a></span></span></span> - TP to Town</li>
  <li>Town - Talk to NPCs - WP to Quarry</li>
  <li>Quarry - Talk to <a href="/wiki/Sin" title="Sin">Sin</a> - Go to Belly of the Beast</li>
  <li><a href="/wiki/Belly_of_the_Beast" title="Belly of the Beast">Belly of the Beast</a> - Go to Rotting Core</li>
  <li><a href="/wiki/The_Rotting_Core" title="The Rotting Core">The Rotting Core</a> - Go to Black Heart</li>
  <li>Black Heart - Enter the Portals and kill <span class="text-color -corrupted"><a href="/wiki/Doedre,_Darksoul"
        title="Doedre, Darksoul">Deodre</a></span>, <span class="text-color -corrupted"><a
        href="/wiki/Maligaro,_The_Broken" title="Maligaro, The Broken">Maligaro</a></span> and <span
      class="text-color -corrupted"><a href="/wiki/Shavronne,_Unbound" title="Shavronne, Unbound">Shavronne</a></span>
    - Kill <span class="text-color -corrupted"><a href="/wiki/The_Depraved_Trinity"
        title="The Depraved Trinity">Depraved Trinity</a></span> - Sail to Act X</li>
</ol>
