<h2><span class="mw-headline" id="Act_10">Act 10</span></h2>
<div style="width:80%; margin:0 auto; background-color: #351100; border: solid 1px #af3800; padding: 10px;">
  <div style="display:table-cell; vertical-align:middle; padding-left: 5px; padding-right: 10px;"><span
      class="minimap_icon minimap_32" style="background-position-x:-160px;background-position-y:-0px"></span></div>
  <p style="display:table-cell; vertical-align:middle;"><span style="color:#eabc12"><b>Warning: </b></span><span
      style="color:#bbad98;">After you kill Kitava, you will have -60% to all resistances, making all combat harder if
      you don't have gear with sufficient resistances. Therefore you might want to level up at <a
        href="/wiki/The_Blood_Aqueduct" title="The Blood Aqueduct">The Blood Aqueduct</a> in Act 9, or <a
        href="/wiki/The_Ravaged_Square" title="The Ravaged Square">The Ravaged Square</a> in Act 10, till you reach
      around level 70, and then kill Kitava.</span></p>
</div>
<figure class="thumb tright " style="width: 300px"> <a
    href="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/5/59/Kitava%2C_The_Destroyer.png/revision/latest?cb=20210212093849"
    class="image"><img alt=""
      src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/5/59/Kitava%2C_The_Destroyer.png/revision/latest/scale-to-width-down/300?cb=20210212093849"
      decoding="async" class="thumbimage lazyloaded" data-image-name="Kitava, The Destroyer.png"
      data-image-key="Kitava%2C_The_Destroyer.png"
      data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/5/59/Kitava%2C_The_Destroyer.png/revision/latest/scale-to-width-down/300?cb=20210212093849"
      width="300" height="232"></a> <noscript><a
      href="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/5/59/Kitava%2C_The_Destroyer.png/revision/latest?cb=20210212093849"
      class="image"><img alt=""
        src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/5/59/Kitava%2C_The_Destroyer.png/revision/latest/scale-to-width-down/300?cb=20210212093849"
        decoding="async" width="300" height="232" class="thumbimage" data-image-name="Kitava, The Destroyer.png"
        data-image-key="Kitava%2C_The_Destroyer.png"
        data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/5/59/Kitava%2C_The_Destroyer.png/revision/latest/scale-to-width-down/300?cb=20210212093849" /></a></noscript>
  <figcaption class="thumbcaption">
    <p class="caption"><a href="/wiki/Kitava" class="mw-redirect" title="Kitava">Kitava</a>, the final boss of Act X
    </p>
  </figcaption>
</figure>
<ol>
  <li><a href="/wiki/Oriath_Docks" title="Oriath Docks">Oriath Docks</a> - Go to Cathedral Rooftop</li>
  <li><a href="/wiki/Cathedral_Rooftop" class="mw-redirect" title="Cathedral Rooftop">Cathedral Rooftop</a> - Go to
    Cathedral Apex (left) - Kill <span class="text-color -corrupted"><a href="/wiki/Plaguewing"
        title="Plaguewing">Plaguewing</a></span> - Talk to <a href="/wiki/Bannon" title="Bannon">Bannon</a> - Go to
    Ravaged Square (top/right)</li>
  <li><a href="/wiki/The_Ravaged_Square" title="The Ravaged Square">The Ravaged Square</a> - Tag WP (right/up) - Go to
    Torched Courts (right from WP)</li>
  <li><a href="/wiki/Torched_Courts" class="mw-redirect" title="Torched Courts">Torched Courts</a> - Go to Desecrated
    Chambers</li>
  <li><a href="/wiki/The_Desecrated_Chambers" title="The Desecrated Chambers">The Desecrated Chambers</a> - Tag WP –
    Go to Sanctum of Innocence (go leftmost, then right)</li>
  <li>Sanctum of Innocence - Kill <span class="text-color -corrupted"><a href="/wiki/Avarius,_Reassembled"
        title="Avarius, Reassembled">Avarius</a></span> – Take <span class="text-color -quest"><span
        class="c-item-hoverbox"><span class="c-item-hoverbox__activator"><img alt=""
            src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/2/2e/The_Staff_of_Purity_inventory_icon.png/revision/latest/scale-to-width-down/8?cb=20170804161233"
            decoding="async" data-image-name="The Staff of Purity inventory icon.png"
            data-image-key="The_Staff_of_Purity_inventory_icon.png"
            data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/2/2e/The_Staff_of_Purity_inventory_icon.png/revision/latest/scale-to-width-down/8?cb=20170804161233"
            class=" lazyloaded" width="8" height="16"><a href="/wiki/The_Staff_of_Purity"
            title="The Staff of Purity">The Staff of Purity</a></span></span></span> - TP to Town</li>
  <li>Town - Talk to NPCs - WP to Ravaged Square</li>
  <li>Ravaged Square - Go to Ossuary (near WP) - Solve Trial - TP to Town</li>
  <li>Ravaged Square - Go to Control Blocks (down)</li>
  <li><a href="/wiki/Control_Blocks" class="mw-redirect" title="Control Blocks">Control Blocks</a> - Tag WP (left of
    entrance) - Kill <span class="text-color -corrupted"><a href="/wiki/Vilenta" title="Vilenta">Vilenta</a></span>
    (follow right-hand wall) - TP to Town</li>
  <li>Town - Talk to NPCs - WP to Ravaged Square</li>
  <li><span style="line-height:35px;border: solid 1px #ae8223;padding: 5px;"><span
        style="color:#f2c462;padding-left:5px;padding-right:5px;"><b>Once per league:</b></span><span
        style="color:#bbad98;padding-right:5px;">Ravaged Square - Go to <a href="/wiki/Ossuary" class="mw-redirect"
          title="Ossuary">Ossuary</a> (next to WP) - Go to Bone Pits - Solve Trial - TP to Town - WP to Ravaged
        Square</span></span></li>
  <li>Ravaged Square - Talk to Innocence (right from WP) - Go to Canals</li>
  <li><a href="/wiki/The_Canals" title="The Canals">The Canals</a> - Go to Feeding Trough (follow canal)</li>
  <li><a href="/wiki/The_Feeding_Trough" title="The Feeding Trough">The Feeding Trough</a> – Go to Altar of Hunger
    (top)</li>
  <li>Altar of Hunger - Kill <span class="text-color -corrupted"><a href="/wiki/Kitava,_the_Insatiable"
        title="Kitava, the Insatiable">Kitava</a></span> - Go to Oriath - Talk to <a href="/wiki/Lani"
      title="Lani">Lani</a> for skill point</li>
</ol>
