<button id="campaignNavAct03Button" class="" title="Go to Act 3">Act 3</button>
<button id="campaignNavAct05Button" class="" title="Go to Act 5">Act 5</button>

<h2><span class="mw-headline" id="Act_4">Act 4</span></h2>
<figure class="thumb tright " style="width: 300px"> <a
    href="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/4/4d/Malachai%2C_The_Nightmare.png/revision/latest?cb=20150827133753"
    class="image"><img alt=""
      src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/4/4d/Malachai%2C_The_Nightmare.png/revision/latest/scale-to-width-down/300?cb=20150827133753"
      decoding="async" class="thumbimage lazyloaded" data-image-name="Malachai, The Nightmare.png"
      data-image-key="Malachai%2C_The_Nightmare.png"
      data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/4/4d/Malachai%2C_The_Nightmare.png/revision/latest/scale-to-width-down/300?cb=20150827133753"
      width="300" height="348"></a> <noscript><a
      href="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/4/4d/Malachai%2C_The_Nightmare.png/revision/latest?cb=20150827133753"
      class="image"><img alt=""
        src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/4/4d/Malachai%2C_The_Nightmare.png/revision/latest/scale-to-width-down/300?cb=20150827133753"
        decoding="async" width="300" height="348" class="thumbimage" data-image-name="Malachai, The Nightmare.png"
        data-image-key="Malachai%2C_The_Nightmare.png"
        data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/4/4d/Malachai%2C_The_Nightmare.png/revision/latest/scale-to-width-down/300?cb=20150827133753" /></a></noscript>
  <figcaption class="thumbcaption">
    <p class="caption"><a href="/wiki/Malachai,_The_Nightmare" title="Malachai, The Nightmare">Malachai, The
        Nightmare</a>, the final boss of Act IV</p>
  </figcaption>
</figure>
<ol>
  <li><a href="/wiki/Aqueduct" title="Aqueduct">Aqueduct</a> - Go to Town</li>
  <li>Town - Go to Dried Lake (bottom-left exit of Town)</li>
  <li><a href="/wiki/Dried_Lake" class="mw-redirect" title="Dried Lake">Dried Lake</a> - Kill <span
      class="text-color -corrupted"><a href="/wiki/Voll,_Emperor_of_Purity"
        title="Voll, Emperor of Purity">Voll</a></span> - Take <span class="text-color -quest"><span
        class="c-item-hoverbox"><span class="c-item-hoverbox__activator"><img alt=""
            src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/2/2a/Deshret%27s_Banner_inventory_icon.png/revision/latest/scale-to-width-down/10?cb=20150712234532"
            decoding="async" data-image-name="Deshret's Banner inventory icon.png"
            data-image-key="Deshret%27s_Banner_inventory_icon.png"
            data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/2/2a/Deshret%27s_Banner_inventory_icon.png/revision/latest/scale-to-width-down/10?cb=20150712234532"
            class=" lazyloaded" width="10" height="16"><a href="/wiki/Deshret%27s_Banner"
            title="Deshret's Banner">Deshret's Banner</a></span></span></span> - TP to Town</li>
  <li>Town - Open <span class="text-color -quest">Deshret's Seal</span> (near Niko) - Go to Mines</li>
  <li><a href="/wiki/The_Mines_Level_1" title="The Mines Level 1">The Mines Level 1</a> - Go to Mines Level 2</li>
  <li><a href="/wiki/The_Mines_Level_2" title="The Mines Level 2">The Mines Level 2</a> - Tag <span
      class="text-color -quest">Deshret's Spirit</span> - Go to Crystal Veins</li>
  <li><a href="/wiki/Crystal_Veins" class="mw-redirect" title="Crystal Veins">Crystal Veins</a> - Tag WP - Go to
    Kaom's Dream</li>
  <li><a href="/wiki/Kaom%27s_Dream" title="Kaom's Dream">Kaom's Dream</a> - Go to Kaom's Stronghold</li>
  <li>Kaom's Stronghold - Tag WP - Kill <span class="text-color -corrupted"><a href="/wiki/King_Kaom"
        title="King Kaom">King Kaom</a></span> - Take <span class="text-color -quest"><span
        class="c-item-hoverbox"><span class="c-item-hoverbox__activator"><img alt=""
            src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/2/2e/The_Eye_of_Fury_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20150712235105"
            decoding="async" data-image-name="The Eye of Fury inventory icon.png"
            data-image-key="The_Eye_of_Fury_inventory_icon.png"
            data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/2/2e/The_Eye_of_Fury_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20150712235105"
            class=" lazyloaded" width="16" height="16"><a href="/wiki/The_Eye_of_Fury" title="The Eye of Fury">The Eye
            of Fury</a></span></span></span> - TP to Town - WP to Crystal Veins</li>
  <li>Crystal Veins - Talk to Dialla - Go to Daresso's Dream</li>
  <li><a href="/wiki/Daresso%27s_Dream" title="Daresso's Dream">Daresso's Dream</a> - Kill <span
      class="text-color -corrupted"><a href="/wiki/Barkhul" title="Barkhul">Barkhul</a></span> - Go to Grand Arena
  </li>
  <li>Grand Arena - Tag WP - Kill <span class="text-color -corrupted">Unique Trio</span> - Go to Ring of Blades - Kill
    <span class="text-color -corrupted"><a href="/wiki/Daresso,_King_of_Swords"
        title="Daresso, King of Swords">Daresso</a></span> - Take <span class="text-color -quest"><span
        class="c-item-hoverbox"><span class="c-item-hoverbox__activator"><img alt=""
            src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/4/43/The_Eye_of_Desire_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20150712235049"
            decoding="async" data-image-name="The Eye of Desire inventory icon.png"
            data-image-key="The_Eye_of_Desire_inventory_icon.png"
            data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/4/43/The_Eye_of_Desire_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20150712235049"
            class=" lazyloaded" width="16" height="16"><a href="/wiki/The_Eye_of_Desire" title="The Eye of Desire">The
            Eye of Desire</a></span></span></span> - TP to Town</li>
  <li>Town - Talk to NPCs - WP to Crystal Veins</li>
  <li>Crystal Veins - Talk to Dialla - Go to Belly of the Beast</li>
  <li><a href="/wiki/The_Belly_of_the_Beast_Level_1" title="The Belly of the Beast Level 1">The Belly of the Beast
      Level 1</a> - Go to Belly of the Beast Level 2</li>
  <li><a href="/wiki/The_Belly_of_the_Beast_Level_2" title="The Belly of the Beast Level 2">The Belly of the Beast
      Level 2</a> - Kill <span class="text-color -corrupted"><a href="/wiki/Piety,_the_Abomination"
        title="Piety, the Abomination">Piety</a></span> - Go to Harvest</li>
  <li><a href="/wiki/Harvest" title="Harvest">Harvest</a> - Tag WP - Talk to Piety - Click <span
      class="text-color -quest">Black Core</span> - Run to the 3 Arenas:
    <ol>
      <li>Kill <span class="text-color -corrupted"><a href="/wiki/Shavronne_of_Umbra"
            title="Shavronne of Umbra">Shavronne</a></span> - Take <span class="text-color -quest"><span
            class="c-item-hoverbox"><span class="c-item-hoverbox__activator"><img alt=""
                src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/c/ce/Malachai%27s_Entrails_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20150714215252"
                decoding="async" data-image-name="Malachai's Entrails inventory icon.png"
                data-image-key="Malachai%27s_Entrails_inventory_icon.png"
                data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/c/ce/Malachai%27s_Entrails_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20150714215252"
                class=" lazyloaded" width="16" height="16"><a href="/wiki/Malachai%27s_Entrails"
                title="Malachai's Entrails">Malachai's Entrails</a></span></span></span></li>
      <li>Kill <span class="text-color -corrupted"><a href="/wiki/Maligaro,_The_Inquisitor"
            title="Maligaro, The Inquisitor">Maligaro</a></span> - Take <span class="text-color -quest"><span
            class="c-item-hoverbox"><span class="c-item-hoverbox__activator"><img alt=""
                src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/5/55/Malachai%27s_Heart_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20150714215315"
                decoding="async" data-image-name="Malachai's Heart inventory icon.png"
                data-image-key="Malachai%27s_Heart_inventory_icon.png"
                data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/5/55/Malachai%27s_Heart_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20150714215315"
                class=" lazyloaded" width="16" height="16"><a href="/wiki/Malachai%27s_Heart"
                title="Malachai's Heart">Malachai's Heart</a></span></span></span></li>
      <li>Kill <span class="text-color -corrupted"><a href="/wiki/Doedre_Darktongue"
            title="Doedre Darktongue">Doedre</a></span> - Take <span class="text-color -quest"><span
            class="c-item-hoverbox"><span class="c-item-hoverbox__activator"><img alt=""
                src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/1/14/Malachai%27s_Lungs_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20150714215353"
                decoding="async" data-image-name="Malachai's Lungs inventory icon.png"
                data-image-key="Malachai%27s_Lungs_inventory_icon.png"
                data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/1/14/Malachai%27s_Lungs_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20150714215353"
                class=" lazyloaded" width="16" height="16"><a href="/wiki/Malachai%27s_Lungs"
                title="Malachai's Lungs">Malachai's Lungs</a></span></span></span></li>
    </ol>
  </li>
  <li>Harvest - Talk to Piety - Go to Black Core - Kill <span class="text-color -corrupted">Piety</span> and <span
      class="text-color -corrupted"><a href="/wiki/Malachai,_The_Nightmare"
        title="Malachai, The Nightmare">Malachai</a></span> - Go to Black Heart</li>
  <li>Black Heart - Kill <span class="text-color -corrupted"><a href="/wiki/Malachai,_The_Nightmare"
        title="Malachai, The Nightmare">Malachai</a></span> and all 3 <span class="text-color -corrupted">Heart of the
      Beast</span> - TP to Town</li>
  <li>Town - Talk to NPCs - Go to Ascent</li>
  <li><a href="/wiki/The_Ascent" title="The Ascent">The Ascent</a> - Walk to the summit - Activate <span
      class="text-color -quest">Lever</span> - Go to Act V</li>
</ol>
