<button id="campaignNavAct05Button" class="" title="Go to Act 5">Act 5</button>
<button id="campaignNavAct07Button" class="" title="Go to Act 7">Act 7</button>

<h2><span class="mw-headline" id="Act_6">Act 6</span></h2>
<figure class="thumb tright " style="width: 300px"> <a
    href="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/a/ac/Tsoagoth%2C_The_Brine_King.png/revision/latest?cb=20170904195300"
    class="image"><img alt=""
      src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/a/ac/Tsoagoth%2C_The_Brine_King.png/revision/latest/scale-to-width-down/300?cb=20170904195300"
      decoding="async" class="thumbimage lazyloaded" data-image-name="Tsoagoth, The Brine King.png"
      data-image-key="Tsoagoth%2C_The_Brine_King.png"
      data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/a/ac/Tsoagoth%2C_The_Brine_King.png/revision/latest/scale-to-width-down/300?cb=20170904195300"
      width="300" height="258"></a> <noscript><a
      href="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/a/ac/Tsoagoth%2C_The_Brine_King.png/revision/latest?cb=20170904195300"
      class="image"><img alt=""
        src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/a/ac/Tsoagoth%2C_The_Brine_King.png/revision/latest/scale-to-width-down/300?cb=20170904195300"
        decoding="async" width="300" height="258" class="thumbimage" data-image-name="Tsoagoth, The Brine King.png"
        data-image-key="Tsoagoth%2C_The_Brine_King.png"
        data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/a/ac/Tsoagoth%2C_The_Brine_King.png/revision/latest/scale-to-width-down/300?cb=20170904195300" /></a></noscript>
  <figcaption class="thumbcaption">
    <p class="caption"><a href="/wiki/Tsoagoth,_The_Brine_King" title="Tsoagoth, The Brine King">Tsoagoth, The Brine
        King</a>, the final boss of Act VI</p>
  </figcaption>
</figure>
<ol>
  <li>Town - Go to Twilight Strand</li>
  <li><a href="/wiki/Twilight_Strand" class="mw-redirect" title="Twilight Strand">Twilight Strand</a> - Kill all
    Monsters (for all skill gems from <a href="/wiki/Lilly_Roth" title="Lilly Roth">Lilly Roth</a>) - TP to Town</li>
  <li>Town - Talk to NPCs - Go to Coast</li>
  <li><a href="/wiki/Coast" class="mw-redirect" title="Coast">Coast</a> - Go to Mudflats</li>
  <li><a href="/wiki/The_Mud_Flats_(Act_6)" title="The Mud Flats (Act 6)">Mud Flats</a> - Kill <span
      class="text-color -corrupted"><a href="/wiki/The_Dishonoured_Queen" title="The Dishonoured Queen">Dishonoured
        Queen</a></span> - Take <span class="text-color -quest"><span class="c-item-hoverbox"><span
          class="c-item-hoverbox__activator"><img alt=""
            src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/3/30/Eye_of_Conquest_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20170804161402"
            decoding="async" data-image-name="Eye of Conquest inventory icon.png"
            data-image-key="Eye_of_Conquest_inventory_icon.png"
            data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/3/30/Eye_of_Conquest_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20170804161402"
            class=" lazyloaded" width="16" height="16"><a href="/wiki/Eye_of_Conquest" title="Eye of Conquest">Eye of
            Conquest</a></span></span></span> - Go to Karui Fortress (top/left)</li>
  <li><a href="/wiki/The_Karui_Fortress" title="The Karui Fortress">The Karui Fortress</a> - Kill <span
      class="text-color -corrupted"><a href="/wiki/Tukohama,_Karui_God_of_War"
        title="Tukohama, Karui God of War">Tukohama</a></span> (right) - Go to Ridge (outside of Arena and right)</li>
  <li><a href="/wiki/The_Ridge" title="The Ridge">The Ridge</a> - Tag WP - Go to Lower Prison</li>
  <li><a href="/wiki/Lower_Prison" class="mw-redirect" title="Lower Prison">Lower Prison</a> - Tag WP - <span
      style="line-height:35px;border: solid 1px #ae8223;padding: 5px;"><span
        style="color:#f2c462;padding-left:5px;padding-right:5px;"><b>Once per league:</b></span><span
        style="color:#bbad98;padding-right:5px;">Solve Trial</span></span> - Go to Shavronne's Tower</li>
  <li><a href="/wiki/Shavronne%27s_Tower" title="Shavronne's Tower">Shavronne's Tower</a> - Go to Prison Rooftop</li>
  <li><a href="/wiki/Prison_Rooftop" class="mw-redirect" title="Prison Rooftop">Prison Rooftop</a> - Kill <span
      class="text-color -corrupted"><a href="/wiki/Reassembled_Brutus" title="Reassembled Brutus">Brutus</a></span>
    and <span class="text-color -corrupted"><a href="/wiki/Shavronne_the_Returned"
        title="Shavronne the Returned">Shavronne</a></span> - Go to Warden's Chambers</li>
  <li>Warden's Chambers - Go to Prisoner's Gate</li>
  <li><a href="/wiki/Prisoner%27s_Gate" title="Prisoner's Gate">Prisoner's Gate</a> - Tag WP - Go to Valley of the
    Fire Drinker</li>
  <li>Valley of the Fire Drinker - Kill <span class="text-color -corrupted"><a href="/wiki/Abberath,_the_Cloven_One"
        title="Abberath, the Cloven One">Abberath</a></span> - Go back to Prisoner's Gate</li>
  <li>Prisoner's Gate - Go to Western Forest</li>
  <li><a href="/wiki/Western_Forest" class="mw-redirect" title="Western Forest">Western Forest</a> - Tag WP (follow
    road) - Go to Riverways (follow road)</li>
  <li><a href="/wiki/Riverways" class="mw-redirect" title="Riverways">Riverways</a> - Tag WP - Go to Wetlands
    (up/left)</li>
  <li><a href="/wiki/Wetlands" class="mw-redirect" title="Wetlands">Wetlands</a> - Go to Spawning Ground</li>
  <li>Spawning Ground - Destroy 3 <span class="text-color -corrupted">Ryslatha's Nests</span> - Kill <span
      class="text-color -corrupted"><a href="/wiki/Ryslatha,_the_Puppet_Mistress"
        title="Ryslatha, the Puppet Mistress">Ryslatha</a></span> - TP to Town</li>
  <li>Town - Talk to NPCs - WP to Riverways</li>
  <li>Riverways - Go to Southern Forest (follow road, then down/right)</li>
  <li><a href="/wiki/Southern_Forest" class="mw-redirect" title="Southern Forest">Southern Forest</a> - Tag WP (end of
    area) - Go to Cavern of Anger (near WP)</li>
  <li><a href="/wiki/The_Cavern_of_Anger_(Act_6)" title="The Cavern of Anger (Act 6)">Cavern of Anger</a> - Take <span
      class="text-color -quest"><span class="c-item-hoverbox"><span class="c-item-hoverbox__activator"><img alt=""
            src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/b/be/The_Black_Flag_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20170804161215"
            decoding="async" data-image-name="The Black Flag inventory icon.png"
            data-image-key="The_Black_Flag_inventory_icon.png"
            data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/b/be/The_Black_Flag_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20170804161215"
            class=" lazyloaded" width="16" height="16"><a href="/wiki/The_Black_Flag" title="The Black Flag">The Black
            Flag</a></span></span></span> - Go to Beacon</li>
  <li>Beacon - Tag WP - Refuel the Beacon - Light the <span class="text-color -quest">Beacon</span> - Talk to <a
      href="/wiki/Weylam_Roth" title="Weylam Roth">Weylam Roth</a> - Sail to Brine King's Reef</li>
  <li><a href="/wiki/The_Brine_King%27s_Reef" title="The Brine King's Reef">The Brine King's Reef</a> - Tag WP - Go to
    The Brine King's Throne - Kill <span class="text-color -corrupted"><a href="/wiki/Tsoagoth,_The_Brine_King"
        title="Tsoagoth, The Brine King">Tsoagoth</a></span> - Sail to Act VII</li>
</ol>
