<h2><span class="mw-headline" id="Act_2">Act 2</span></h2>
<figure class="thumb tright " style="width: 300px"> <a
    href="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/b/b7/Vaal_Oversoul.png/revision/latest?cb=20210416111539"
    class="image"><img alt=""
      src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/b/b7/Vaal_Oversoul.png/revision/latest/scale-to-width-down/300?cb=20210416111539"
      decoding="async" class="thumbimage lazyloaded" data-image-name="Vaal Oversoul.png"
      data-image-key="Vaal_Oversoul.png"
      data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/b/b7/Vaal_Oversoul.png/revision/latest/scale-to-width-down/300?cb=20210416111539"
      width="300" height="394"></a> <noscript><a
      href="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/b/b7/Vaal_Oversoul.png/revision/latest?cb=20210416111539"
      class="image"><img alt=""
        src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/b/b7/Vaal_Oversoul.png/revision/latest/scale-to-width-down/300?cb=20210416111539"
        decoding="async" width="300" height="394" class="thumbimage" data-image-name="Vaal Oversoul.png"
        data-image-key="Vaal_Oversoul.png"
        data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/b/b7/Vaal_Oversoul.png/revision/latest/scale-to-width-down/300?cb=20210416111539" /></a></noscript>
  <figcaption class="thumbcaption">
    <p class="caption">The <a href="/wiki/Vaal_Oversoul" title="Vaal Oversoul">Vaal Oversoul</a>, the final boss of
      Act II</p>
  </figcaption>
</figure>
<ol>
  <li><a href="/wiki/Southern_Forest" class="mw-redirect" title="Southern Forest">Southern Forest</a> - Go to Town
  </li>
  <li>Town - Go to Old Fields (top-right exit from town)</li>
  <li><a href="/wiki/Old_Fields" class="mw-redirect" title="Old Fields">Old Fields</a> - (Enter the Den and kill the
    <span class="text-color -corrupted"><a href="/wiki/The_Great_White_Beast_(unique_monster)"
        title="The Great White Beast (unique monster)">Great White Beast</a></span> for Quicksilver Reward) - Go to
    Crossroads</li>
  <li><a href="/wiki/Crossroads" class="mw-redirect" title="Crossroads">Crossroads</a> - Tag WP (follow road) - Go
    up/left to Chamber of Sins</li>
  <li><a href="/wiki/Chamber_of_Sins_Level_1" class="mw-redirect" title="Chamber of Sins Level 1">Chamber of Sins
      Level 1</a> - Tag WP (center) - Go to Chamber of Sins Level 2 (direction of WP)</li>
  <li><a href="/wiki/Chamber_of_Sins_Level_2" class="mw-redirect" title="Chamber of Sins Level 2">Chamber of Sins
      Level 2</a> - <span style="line-height:35px;border: solid 1px #ae8223;padding: 5px;"><span
        style="color:#f2c462;padding-left:5px;padding-right:5px;"><b>Once per league:</b></span><span
        style="color:#bbad98;padding-right:5px;">Solve Trail</span></span> - Kill <span
      class="text-color -corrupted"><a href="/wiki/Fidelitas,_the_Mourning"
        title="Fidelitas, the Mourning">Fidelitas</a></span> - Take <span class="text-color -quest"><span
        class="c-item-hoverbox"><span class="c-item-hoverbox__activator"><img alt=""
            src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/e/e1/Baleful_Gem_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20130626162157"
            decoding="async" data-image-name="Baleful Gem inventory icon.png"
            data-image-key="Baleful_Gem_inventory_icon.png"
            data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/e/e1/Baleful_Gem_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20130626162157"
            class=" lazyloaded" width="16" height="16"><a href="/wiki/Baleful_Gem" title="Baleful Gem">Baleful
            Gem</a></span></span></span> - TP to Town</li>
  <li>Town - Talk to NPCs (for Heralds) - WP to Crossroads</li>
  <li>Crossroads - Go up/right to Broken Bridge</li>
  <li><a href="/wiki/Broken_Bridge" class="mw-redirect" title="Broken Bridge">Broken Bridge</a> - Tag WP (follow road)
    - Kill <span class="text-color -corrupted"><a href="/wiki/Kraityn" title="Kraityn">Kraityn</a></span> - Take <span
      class="text-color -quest"><span class="c-item-hoverbox"><span class="c-item-hoverbox__activator"><img alt=""
            src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/c/c8/Kraityn%27s_Amulet_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20130626162311"
            decoding="async" data-image-name="Kraityn's Amulet inventory icon.png"
            data-image-key="Kraityn%27s_Amulet_inventory_icon.png"
            data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/c/c8/Kraityn%27s_Amulet_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20130626162311"
            class=" lazyloaded" width="16" height="16"><a href="/wiki/Kraityn%27s_Amulet"
            title="Kraityn's Amulet">Kraityn's Amulet</a></span></span></span> - TP to town</li>
  <li><span style="line-height:35px;border: solid 1px #ae8223;padding: 5px;"><span
        style="color:#f2c462;padding-left:5px;padding-right:5px;"><b>Once per league:</b></span><span
        style="color:#bbad98;padding-right:5px;">Town - WP to Crossroads - Go to <a href="/wiki/Fellshrine_Ruins"
          class="mw-redirect" title="Fellshrine Ruins">Fellshrine Ruins</a> (right/down) - Go to <a
          href="/wiki/The_Crypt_Level_1" title="The Crypt Level 1">The Crypt Level 1</a> - Solve Trial - TP to
        Town</span></span></li>
  <li>Town - Go to Riverways (bottom-left exit from town)</li>
  <li><a href="/wiki/Riverways" class="mw-redirect" title="Riverways">Riverways</a> - Tag WP (follow broken road) - Go
    to Western Forest (down)</li>
  <li><a href="/wiki/Western_Forest" class="mw-redirect" title="Western Forest">Western Forest</a> - Tag WP (follow
    road) - Kill or Save <span class="text-color -corrupted"><a href="/wiki/Alira" title="Alira">Alira</a></span>
    (left/top from WP) - (Take <span class="text-color -quest"><span class="c-item-hoverbox"><span
          class="c-item-hoverbox__activator"><img alt=""
            src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/0/0f/Alira%27s_Amulet_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20130626162149"
            decoding="async" data-image-name="Alira's Amulet inventory icon.png"
            data-image-key="Alira%27s_Amulet_inventory_icon.png"
            data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/0/0f/Alira%27s_Amulet_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20130626162149"
            class=" lazyloaded" width="16" height="16"><a href="/wiki/Alira%27s_Amulet" title="Alira's Amulet">Alira's
            Amulet</a></span></span></span> if you killed her)</li>
  <li>Western Forest - Kill <span class="text-color -corrupted"><a href="/wiki/Captain_Arteri"
        title="Captain Arteri">Captain Arteri</a></span> (end of road) - Take <span class="text-color -quest"><span
        class="c-item-hoverbox"><span class="c-item-hoverbox__activator"><img alt=""
            src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/3/3d/Thaumetic_Emblem_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20131129100048"
            decoding="async" data-image-name="Thaumetic Emblem inventory icon.png"
            data-image-key="Thaumetic_Emblem_inventory_icon.png"
            data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/3/3d/Thaumetic_Emblem_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20131129100048"
            class=" lazyloaded" width="16" height="16"><a href="/wiki/Thaumetic_Emblem"
            title="Thaumetic Emblem">Thaumetic Emblem</a></span></span></span> - Open Thaumetic Seal - Go to Weaver's
    Chamber (other side than Alira)</li>
  <li><a href="/wiki/The_Weaver%27s_Chambers" title="The Weaver's Chambers">The Weaver's Chambers</a> - Go to Weaver's
    Nest</li>
  <li>Weaver's Nest - Kill <span class="text-color -corrupted"><a href="/wiki/The_Weaver"
        title="The Weaver">Weaver</a></span> - Take <span class="text-color -quest"><span
        class="c-item-hoverbox"><span class="c-item-hoverbox__activator"><img alt=""
            src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/7/72/Maligaro%27s_Spike_inventory_icon.png/revision/latest/scale-to-width-down/4?cb=20130626162319"
            decoding="async" data-image-name="Maligaro's Spike inventory icon.png"
            data-image-key="Maligaro%27s_Spike_inventory_icon.png"
            data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/7/72/Maligaro%27s_Spike_inventory_icon.png/revision/latest/scale-to-width-down/4?cb=20130626162319"
            class=" lazyloaded" width="4" height="16"><a href="/wiki/Maligaro%27s_Spike"
            title="Maligaro's Spike">Maligaro's Spike</a></span></span></span> - TP to Town</li>
  <li>Town - Talk to NPCs - WP to Act I town (Lioneye’s Watch) - Talk to <a href="/wiki/Bestel"
      title="Bestel">Bestel</a> for skill point - WP to Riverways</li>
  <li>Riverways - Go to Wetlands (up/left)</li>
  <li><a href="/wiki/Wetlands" class="mw-redirect" title="Wetlands">Wetlands</a> - Kill <span
      class="text-color -corrupted"><a href="/wiki/Oak" title="Oak">Oak</a></span> (middle) - Take <span
      class="text-color -quest"><span class="c-item-hoverbox"><span class="c-item-hoverbox__activator"><img alt=""
            src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/6/65/Oak%27s_Amulet_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20130626162327"
            decoding="async" data-image-name="Oak's Amulet inventory icon.png"
            data-image-key="Oak%27s_Amulet_inventory_icon.png"
            data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/6/65/Oak%27s_Amulet_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20130626162327"
            class=" lazyloaded" width="16" height="16"><a href="/wiki/Oak%27s_Amulet" title="Oak's Amulet">Oak's
            Amulet</a></span></span></span> - Remove <span class="text-color -quest"><a href="/wiki/Tree_Roots"
        title="Tree Roots">Tree Roots</a></span> - Go to Vaal Ruins</li>
  <li><a href="/wiki/Vaal_Ruins" class="mw-redirect" title="Vaal Ruins">Vaal Ruins</a> - Activate <span
      class="text-color -quest">Ancient Seal</span> - Go to Northern Forest</li>
  <li><a href="/wiki/Northern_Forest" class="mw-redirect" title="Northern Forest">Northern Forest</a> - Tag WP (top) -
    TP to Town - Talk to Eremir or Alira for <span class="text-color -quest"><span class="c-item-hoverbox"><span
          class="c-item-hoverbox__activator"><img alt=""
            src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/5/5a/The_Apex_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20130626162427"
            decoding="async" data-image-name="The Apex inventory icon.png"
            data-image-key="The_Apex_inventory_icon.png"
            data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/5/5a/The_Apex_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20130626162427"
            class=" lazyloaded" width="16" height="16"><a href="/wiki/The_Apex" title="The Apex">The
            Apex</a></span></span></span> - WP to Northern Forest - Go to Caverns (top)</li>
  <li>Caverns - Tag WP - Go to Ancient Pyramid</li>
  <li><a href="/wiki/Ancient_Pyramid" class="mw-redirect" title="Ancient Pyramid">Ancient Pyramid</a> - Go to Pyramid
    Apex</li>
  <li><a href="/wiki/The_Apex" title="The Apex">The Apex</a> - Activate <span class="text-color -quest">Dark
      Altar</span> - Kill <span class="text-color -corrupted"><a href="/wiki/Vaal_Oversoul" title="Vaal Oversoul">Vaal
        Oversoul</a></span> - Go to Act III</li>
</ol>
