<h2><span class="mw-headline" id="Act_8">Act 8</span></h2>
<figure class="thumb tright " style="width: 300px"> <a
    href="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/7/75/Solaris_and_Lunaris.png/revision/latest?cb=20210119083017"
    class="image"><img alt=""
      src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/7/75/Solaris_and_Lunaris.png/revision/latest/scale-to-width-down/300?cb=20210119083017"
      decoding="async" class="thumbimage lazyloaded" data-image-name="Solaris and Lunaris.png"
      data-image-key="Solaris_and_Lunaris.png"
      data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/7/75/Solaris_and_Lunaris.png/revision/latest/scale-to-width-down/300?cb=20210119083017"
      width="300" height="236"></a> <noscript><a
      href="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/7/75/Solaris_and_Lunaris.png/revision/latest?cb=20210119083017"
      class="image"><img alt=""
        src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/7/75/Solaris_and_Lunaris.png/revision/latest/scale-to-width-down/300?cb=20210119083017"
        decoding="async" width="300" height="236" class="thumbimage" data-image-name="Solaris and Lunaris.png"
        data-image-key="Solaris_and_Lunaris.png"
        data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/7/75/Solaris_and_Lunaris.png/revision/latest/scale-to-width-down/300?cb=20210119083017" /></a></noscript>
  <figcaption class="thumbcaption">
    <p class="caption"><a href="/wiki/Solaris,_Eternal_Sun" title="Solaris, Eternal Sun">Solaris, Eternal Sun</a> and
      <a href="/wiki/Lunaris,_Eternal_Moon" title="Lunaris, Eternal Moon">Lunaris, Eternal Moon</a>, the final bosses
      of Act VIII</p>
  </figcaption>
</figure>
<ol>
  <li><a href="/wiki/The_Sarn_Ramparts" title="The Sarn Ramparts">The Sarn Ramparts</a> - Go to Sarn Encampment</li>
  <li><a href="/wiki/Sarn_Encampment" class="mw-redirect" title="Sarn Encampment">Sarn Encampment</a> - Go to Toxic
    Conduits</li>
  <li><a href="/wiki/The_Toxic_Conduits" title="The Toxic Conduits">The Toxic Conduits</a> - Open <span
      class="text-color -quest">Loose Gate</span> (end of area) - Go to Doedre's Cesspool</li>
  <li><a href="/wiki/Doedre%27s_Cesspool" title="Doedre's Cesspool">Doedre's Cesspool</a> - Go to Cauldron - Activate
    <span class="text-color -quest">Valve</span> - Kill <span class="text-color -corrupted"><a
        href="/wiki/Doedre_the_Vile" title="Doedre the Vile">Deodre</a></span> - Tag WP - Go to Grand Promenade
    (down/left from WP)</li>
  <li><a href="/wiki/The_Grand_Promenade" title="The Grand Promenade">The Grand Promenade</a> - Go to Bath House
    (follow right-hand fence)</li>
  <li><a href="/wiki/The_Bath_House" title="The Bath House">The Bath House</a> - Tag WP - Kill <span
      class="text-color -corrupted"><a href="/wiki/Hector_Titucius,_Eternal_Servant"
        title="Hector Titucius, Eternal Servant">Hector Titucius</a></span> - Take <span
      class="text-color -quest"><span class="c-item-hoverbox"><span class="c-item-hoverbox__activator"><img alt=""
            src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/5/51/Wings_of_Vastiri_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20170804161334"
            decoding="async" data-image-name="Wings of Vastiri inventory icon.png"
            data-image-key="Wings_of_Vastiri_inventory_icon.png"
            data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/5/51/Wings_of_Vastiri_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20170804161334"
            class=" lazyloaded" width="16" height="16"><a href="/wiki/Wings_of_Vastiri" title="Wings of Vastiri">Wings
            of Vastiri</a></span></span></span> - <span
      style="line-height:35px;border: solid 1px #ae8223;padding: 5px;"><span
        style="color:#f2c462;padding-left:5px;padding-right:5px;"><b>Once per league:</b></span><span
        style="color:#bbad98;padding-right:5px;">Solve Trial (top or left)</span></span> - Go to High Gardens (top or
    left)</li>
  <li><a href="/wiki/High_Gardens" class="mw-redirect" title="High Gardens">High Gardens</a> – Go to Pools of Terror
    (right) - Kill <span class="text-color -corrupted"><a href="/wiki/Yugul,_Reflection_of_Terror"
        title="Yugul, Reflection of Terror">Yugul</a></span> - TP to Town</li>
  <li>Town - Talk to NPCs - WP to Bath House</li>
  <li>Bath House - Go to Lunaris Concourse (right)</li>
  <li><a href="/wiki/The_Lunaris_Concourse" title="The Lunaris Concourse">The Lunaris Concourse</a> - Tag WP - Go to
    Lunaris Temple (top)</li>
  <li><a href="/wiki/Lunaris_Temple_Level_1" class="mw-redirect" title="Lunaris Temple Level 1">Lunaris Temple Level
      1</a> – Tag WP - Go to Lunaris Temple Level 2</li>
  <li><a href="/wiki/Lunaris_Temple_Level_2" class="mw-redirect" title="Lunaris Temple Level 2">Lunaris Temple Level
      2</a> - Kill <span class="text-color -corrupted"><a href="/wiki/Dusk,_Harbinger_of_Lunaris"
        title="Dusk, Harbinger of Lunaris">Dusk</a></span> - Take <span class="text-color -quest"><span
        class="c-item-hoverbox"><span class="c-item-hoverbox__activator"><img alt=""
            src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/5/51/Moon_Orb_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20170804161049"
            decoding="async" data-image-name="Moon Orb inventory icon.png"
            data-image-key="Moon_Orb_inventory_icon.png"
            data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/5/51/Moon_Orb_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20170804161049"
            class=" lazyloaded" width="16" height="16"><a href="/wiki/Moon_Orb" title="Moon Orb">Moon
            Orb</a></span></span></span> - TP to Town</li>
  <li>Town - Talk to NPCs - WP to Toxic Conduits</li>
  <li>Toxic Conduits - Go to Quay (up/right from WP)</li>
  <li><a href="/wiki/The_Quay" title="The Quay">The Quay</a> - Take <span class="text-color -quest"><span
        class="c-item-hoverbox"><span class="c-item-hoverbox__activator"><img alt=""
            src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/7/72/Ankh_of_Eternity_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20170804160538"
            decoding="async" data-image-name="Ankh of Eternity inventory icon.png"
            data-image-key="Ankh_of_Eternity_inventory_icon.png"
            data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/7/72/Ankh_of_Eternity_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20170804160538"
            class=" lazyloaded" width="16" height="16"><a href="/wiki/Ankh_of_Eternity" title="Ankh of Eternity">Ankh
            of Eternity</a></span></span></span> (down) - Go to Resurrection Site (down/left) - Kill <span
      class="text-color -corrupted">Tolman</span> - Talk to <a href="/wiki/Clarissa" title="Clarissa">Clarissa</a>
    (nearby) – Go to Grain Gate (up/right)</li>
  <li><a href="/wiki/The_Grain_Gate" title="The Grain Gate">The Grain Gate</a> - Tag WP - Kill <span
      class="text-color -corrupted"><a href="/wiki/Gemling_Legionnaire" title="Gemling Legionnaire">Gemling
        Legion</a></span> - Go to Imperial Fields</li>
  <li><a href="/wiki/The_Imperial_Fields" title="The Imperial Fields">The Imperial Fields</a> - Tag WP (follow road
    up) - Go to Solaris Temple (follow road then further up)</li>
  <li><a href="/wiki/Solaris_Temple_Level_1" class="mw-redirect" title="Solaris Temple Level 1">Solaris Temple Level
      1</a> - Tag WP - Go to Solaris Temple Level 2 (up from WP)</li>
  <li><a href="/wiki/Solaris_Temple_Level_2" class="mw-redirect" title="Solaris Temple Level 2">Solaris Temple Level
      2</a> - Kill <span class="text-color -corrupted"><a href="/wiki/Dawn,_Harbinger_of_Solaris"
        title="Dawn, Harbinger of Solaris">Dawn</a></span> - Take <span class="text-color -quest"><span
        class="c-item-hoverbox"><span class="c-item-hoverbox__activator"><img alt=""
            src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/5/5b/Sun_Orb_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20170804161200"
            decoding="async" data-image-name="Sun Orb inventory icon.png" data-image-key="Sun_Orb_inventory_icon.png"
            data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/5/5b/Sun_Orb_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20170804161200"
            class=" lazyloaded" width="16" height="16"><a href="/wiki/Sun_Orb" title="Sun Orb">Sun
            Orb</a></span></span></span> - TP to Town</li>
  <li>Town - Talk to NPCs - WP to Lunaris Concourse</li>
  <li>Lunaris Concourse - Go to Harbour Bridge (down/right)</li>
  <li><a href="/wiki/Harbour_Bridge" class="mw-redirect" title="Harbour Bridge">Harbour Bridge</a> - Go to Sky Shrine
    (middle of bridge) - Activate <span class="text-color -quest">Statue of the Sisters</span> - Kill <span
      class="text-color -corrupted"><a href="/wiki/Lunaris,_Eternal_Moon"
        title="Lunaris, Eternal Moon">Lunaris</a></span> and <span class="text-color -corrupted"><a
        href="/wiki/Solaris,_Eternal_Sun" title="Solaris, Eternal Sun">Solaris</a></span> - Go to Act IX</li>
</ol>
