<h2><span class="mw-headline" id="Act_5">Act 5</span></h2>
<figure class="thumb tright " style="width: 300px"> <a
    href="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/5/54/Kitava%2C_the_Insatiable_%28Act_5%29.png/revision/latest?cb=20210121073347"
    class="image"><img alt=""
      src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/5/54/Kitava%2C_the_Insatiable_%28Act_5%29.png/revision/latest/scale-to-width-down/300?cb=20210121073347"
      decoding="async" class="thumbimage lazyloaded" data-image-name="Kitava, the Insatiable (Act 5).png"
      data-image-key="Kitava%2C_the_Insatiable_%28Act_5%29.png"
      data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/5/54/Kitava%2C_the_Insatiable_%28Act_5%29.png/revision/latest/scale-to-width-down/300?cb=20210121073347"
      width="300" height="232"></a> <noscript><a
      href="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/5/54/Kitava%2C_the_Insatiable_%28Act_5%29.png/revision/latest?cb=20210121073347"
      class="image"><img alt=""
        src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/5/54/Kitava%2C_the_Insatiable_%28Act_5%29.png/revision/latest/scale-to-width-down/300?cb=20210121073347"
        decoding="async" width="300" height="232" class="thumbimage"
        data-image-name="Kitava, the Insatiable (Act 5).png" data-image-key="Kitava%2C_the_Insatiable_%28Act_5%29.png"
        data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/5/54/Kitava%2C_the_Insatiable_%28Act_5%29.png/revision/latest/scale-to-width-down/300?cb=20210121073347" /></a></noscript>
  <figcaption class="thumbcaption">
    <p class="caption"><a href="/wiki/Kitava,_the_Insatiable" title="Kitava, the Insatiable">Kitava, the
        Insatiable</a>, the final boss of Act V</p>
  </figcaption>
</figure>
<ol>
  <li><a href="/wiki/The_Slave_Pens" title="The Slave Pens">The Slave Pens</a> - Tag WP - Kill <span
      class="text-color -corrupted"><a href="/wiki/Overseer_Krow" title="Overseer Krow">Overseer Krow</a></span> - Go
    to Town</li>
  <li>Town - Talk to NPCs - Go to Control Blocks</li>
  <li><a href="/wiki/Control_Blocks" class="mw-redirect" title="Control Blocks">Control Blocks</a> - Pick up <span
      class="text-color -quest"><span class="c-item-hoverbox"><span class="c-item-hoverbox__activator"><img alt=""
            src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/d/db/Miasmeter_inventory_icon.png/revision/latest/scale-to-width-down/5?cb=20170804161034"
            decoding="async" data-image-name="Miasmeter inventory icon.png"
            data-image-key="Miasmeter_inventory_icon.png"
            data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/d/db/Miasmeter_inventory_icon.png/revision/latest/scale-to-width-down/5?cb=20170804161034"
            class=" lazyloaded" width="5" height="16"><a href="/wiki/Miasmeter"
            title="Miasmeter">Miasmeter</a></span></span></span> (down/left) - Kill <span
      class="text-color -corrupted"><a href="/wiki/Justicar_Casticus" title="Justicar Casticus">Justicar
        Casticus</a></span> (top/right) - Take <span class="text-color -quest"><span class="c-item-hoverbox"><span
          class="c-item-hoverbox__activator"><img alt=""
            src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/f/f6/Eyes_of_Zeal_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20170804161413"
            decoding="async" data-image-name="Eyes of Zeal inventory icon.png"
            data-image-key="Eyes_of_Zeal_inventory_icon.png"
            data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/f/f6/Eyes_of_Zeal_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20170804161413"
            class=" lazyloaded" width="16" height="16"><a href="/wiki/Eyes_of_Zeal" title="Eyes of Zeal">Eyes of
            Zeal</a></span></span></span> - Go to Oriath Square</li>
  <li><a href="/wiki/Oriath_Square" title="Oriath Square">Oriath Square</a> - Tag WP - Open <span
      class="text-color -quest">Templar Courts Entrance</span> (top right) - Go to Templar Courts</li>
  <li><a href="/wiki/The_Templar_Courts" title="The Templar Courts">The Templar Courts</a> - Tag WP - Go to Chamber of
    Innocence</li>
  <li><a href="/wiki/The_Chamber_of_Innocence" title="The Chamber of Innocence">The Chamber of Innocence</a> - Tag WP
    - Go to Sanctum of Innocence (go leftmost, then right)</li>
  <li>The Sanctum of Innocence - Kill <span class="text-color -corrupted"><a href="/wiki/High_Templar_Avarius"
        title="High Templar Avarius">High Templar Avarius</a></span> and <span class="text-color -corrupted"><a
        href="/wiki/Innocence" class="mw-redirect" title="Innocence">Innocence</a></span> - Go to Chamber of Innocence
  </li>
  <li>Chamber of Innocence - Go to Torched Courts</li>
  <li><a href="/wiki/Torched_Courts" class="mw-redirect" title="Torched Courts">Torched Courts</a> - Go to Ruined
    Square</li>
  <li><a href="/wiki/Ruined_Square" class="mw-redirect" title="Ruined Square">Ruined Square</a> - Tag WP (top left) -
    Go to Ossuary (near WP)</li>
  <li><a href="/wiki/Ossuary" class="mw-redirect" title="Ossuary">Ossuary</a> - Pick up <span
      class="text-color -quest"><span class="c-item-hoverbox"><span class="c-item-hoverbox__activator"><img alt=""
            src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/f/fc/Sign_of_Purity_inventory_icon.png/revision/latest/scale-to-width-down/10?cb=20170804161132"
            decoding="async" data-image-name="Sign of Purity inventory icon.png"
            data-image-key="Sign_of_Purity_inventory_icon.png"
            data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/f/fc/Sign_of_Purity_inventory_icon.png/revision/latest/scale-to-width-down/10?cb=20170804161132"
            class=" lazyloaded" width="10" height="16"><a href="/wiki/Sign_of_Purity" title="Sign of Purity">Sign of
            Purity</a></span></span></span> - TP to Town</li>
  <li>Town - Talk to NPCs - WP to Ruined Square</li>
  <li>Ruined Square - Go to Reliquary (down)</li>
  <li><a href="/wiki/Reliquary" title="Reliquary">Reliquary</a> - Tag WP - Collect <span
      class="text-color -quest"><span class="c-item-hoverbox"><span class="c-item-hoverbox__activator"><img alt=""
            src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/6/60/Tukohama%27s_Tooth_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20170804161310"
            decoding="async" data-image-name="Tukohama's Tooth inventory icon.png"
            data-image-key="Tukohama%27s_Tooth_inventory_icon.png"
            data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/6/60/Tukohama%27s_Tooth_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20170804161310"
            class=" lazyloaded" width="16" height="16"><a href="/wiki/Tukohama%27s_Tooth"
            title="Tukohama's Tooth">Tukohama's Tooth</a></span></span></span>, <span class="text-color -quest"><span
        class="c-item-hoverbox"><span class="c-item-hoverbox__activator"><img alt=""
            src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/8/8a/Hinekora%27s_Hair_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20170804160935"
            decoding="async" data-image-name="Hinekora's Hair inventory icon.png"
            data-image-key="Hinekora%27s_Hair_inventory_icon.png"
            data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/8/8a/Hinekora%27s_Hair_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20170804160935"
            class=" lazyloaded" width="16" height="16"><a href="/wiki/Hinekora%27s_Hair"
            title="Hinekora's Hair">Hinekora's Hair</a></span></span></span> and <span class="text-color -quest"><span
        class="c-item-hoverbox"><span class="c-item-hoverbox__activator"><img alt=""
            src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/2/2c/Valako%27s_Jaw_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20170804161322"
            decoding="async" data-image-name="Valako's Jaw inventory icon.png"
            data-image-key="Valako%27s_Jaw_inventory_icon.png"
            data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/2/2c/Valako%27s_Jaw_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20170804161322"
            class=" lazyloaded" width="16" height="8"><a href="/wiki/Valako%27s_Jaw" title="Valako's Jaw">Valako's
            Jaw</a></span></span></span> (corners of zone) - TP to Town</li>
  <li>Town - Talk to NPCs - WP to Ruined Square</li>
  <li>Ruined Square - Go to Cathedral Rooftop (left)</li>
  <li><a href="/wiki/The_Cathedral_Rooftop_(Act_5)" title="The Cathedral Rooftop (Act 5)">Cathedral Rooftop</a> - Go
    to Cathedral Apex</li>
  <li>Cathedral Apex - Activate <span class="text-color -quest">Cradle of Purity</span> - Kill <span
      class="text-color -corrupted"><a href="/wiki/Kitava,_the_Insatiable"
        title="Kitava, the Insatiable">Kitava</a></span> and <span class="text-color -corrupted"><a
        href="/wiki/Kitava%27s_Heart" title="Kitava's Heart">Kitava's Heart</a></span> - Get teleported to Town</li>
  <li>Town - Sail to Act VI</li>
</ol>
