  <h2><span class="mw-headline" id="Act_1">Act 1</span></h2>
  <figure class="thumb tright " style="width: 300px"> <a
      href="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/f/f1/Merveil%2C_the_Siren.png/revision/latest?cb=20210319040544"
      class="image"><img alt=""
        src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/f/f1/Merveil%2C_the_Siren.png/revision/latest/scale-to-width-down/300?cb=20210319040544"
        decoding="async" class="thumbimage lazyloaded" data-image-name="Merveil, the Siren.png"
        data-image-key="Merveil%2C_the_Siren.png"
        data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/f/f1/Merveil%2C_the_Siren.png/revision/latest/scale-to-width-down/300?cb=20210319040544"
        width="300" height="463"></a> <noscript><a
        href="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/f/f1/Merveil%2C_the_Siren.png/revision/latest?cb=20210319040544"
        class="image"><img alt=""
          src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/f/f1/Merveil%2C_the_Siren.png/revision/latest/scale-to-width-down/300?cb=20210319040544"
          decoding="async" width="300" height="463" class="thumbimage" data-image-name="Merveil, the Siren.png"
          data-image-key="Merveil%2C_the_Siren.png"
          data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/f/f1/Merveil%2C_the_Siren.png/revision/latest/scale-to-width-down/300?cb=20210319040544" /></a></noscript>
    <figcaption class="thumbcaption">
      <p class="caption"><a href="/wiki/Merveil,_the_Siren" title="Merveil, the Siren">Merveil, the Siren</a>, the final
        boss of Act I</p>
    </figcaption>
  </figure>
  <ol>
    <li><a href="/wiki/Twilight_Strand" class="mw-redirect" title="Twilight Strand">Twilight Strand</a> - Kill <span
        class="text-color -corrupted"><a href="/wiki/Hillock" title="Hillock">Hillock</a></span> - Go to Town</li>
    <li>Town - Talk to NPCs - Go to Coast</li>
    <li><a href="/wiki/Coast" class="mw-redirect" title="Coast">Coast</a> - Tag WP - Go to Tidal Island</li>
    <li><a href="/wiki/Tidal_Island" class="mw-redirect" title="Tidal Island">Tidal Island</a> - (Kill <span
        class="text-color -corrupted"><a href="/wiki/Hailrake" title="Hailrake">Hailrake</a></span> for <span
        class="text-color -magic"><span class="c-item-hoverbox"><span class="c-item-hoverbox__activator"><img alt=""
              src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/8/84/Quicksilver_Flask_inventory_icon.png/revision/latest/scale-to-width-down/8?cb=20160306005151"
              decoding="async" data-image-name="Quicksilver Flask inventory icon.png"
              data-image-key="Quicksilver_Flask_inventory_icon.png"
              data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/8/84/Quicksilver_Flask_inventory_icon.png/revision/latest/scale-to-width-down/8?cb=20160306005151"
              class=" ls-is-cached lazyloaded" width="8" height="16"><a href="/wiki/Quicksilver_Flask"
              title="Quicksilver Flask">Quicksilver Flask</a></span></span></span> Reward - TP to town and claim reward)
      - WP/Go to Coast</li>
    <li>Coast - Go to Mud Flats</li>
    <li><a href="/wiki/Mud_Flats" class="mw-redirect" title="Mud Flats">Mud Flats</a> - Get <span
        class="text-color -quest"><span class="c-item-hoverbox"><span class="c-item-hoverbox__activator"><img alt=""
              src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/2/2e/Roseus_Glyph_inventory_icon.png/revision/latest/scale-to-width-down/8?cb=20130626162402"
              decoding="async" data-image-name="Roseus Glyph inventory icon.png"
              data-image-key="Roseus_Glyph_inventory_icon.png"
              data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/2/2e/Roseus_Glyph_inventory_icon.png/revision/latest/scale-to-width-down/8?cb=20130626162402"
              class=" lazyloaded" width="8" height="16"><a href="/wiki/Roseus_Glyph" title="Roseus Glyph">Roseus
              Glyph</a></span></span></span>, <span class="text-color -quest"><span class="c-item-hoverbox"><span
            class="c-item-hoverbox__activator"><img alt=""
              src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/1/12/Ammonite_Glyph_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20130626162150"
              decoding="async" data-image-name="Ammonite Glyph inventory icon.png"
              data-image-key="Ammonite_Glyph_inventory_icon.png"
              data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/1/12/Ammonite_Glyph_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20130626162150"
              class=" lazyloaded" width="16" height="16"><a href="/wiki/Ammonite_Glyph" title="Ammonite Glyph">Ammonite
              Glyph</a></span></span></span> and <span class="text-color -quest"><span class="c-item-hoverbox"><span
            class="c-item-hoverbox__activator"><img alt=""
              src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/b/ba/Haliotis_Glyph_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20130626162258"
              decoding="async" data-image-name="Haliotis Glyph inventory icon.png"
              data-image-key="Haliotis_Glyph_inventory_icon.png"
              data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/b/ba/Haliotis_Glyph_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20130626162258"
              class=" lazyloaded" width="16" height="16"><a href="/wiki/Haliotis_Glyph" title="Haliotis Glyph">Haliotis
              Glyph</a></span></span></span> from Rhoa Nests - Activate <span class="text-color -quest">Strange Glyph
        Wall</span> - Go to Submerged Passage</li>
    <li><a href="/wiki/Submerged_Passage" class="mw-redirect" title="Submerged Passage">Submerged Passage</a> - Tag WP -
      Go to Flooded Depths</li>
    <li><a href="/wiki/The_Flooded_Depths" title="The Flooded Depths">The Flooded Depths</a> - Kill <span
        class="text-color -corrupted"><a href="/wiki/The_Dweller_of_the_Deep_(monster)"
          title="The Dweller of the Deep (monster)">Dweller of the Deep</a></span> - TP to town</li>
    <li>Town - Talk to NPCs - WP to Submerged Passage</li>
    <li>Submerged Passage - Go to Ledge</li>
    <li><a href="/wiki/Ledge" class="mw-redirect" title="Ledge">Ledge</a> - Tag WP - Go to Climb</li>
    <li><a href="/wiki/The_Climb" title="The Climb">The Climb</a> - Kill <span class="text-color -corrupted"><a
          href="/wiki/The_Faun" title="The Faun">Faun</a></span> to unlock Navali - Go to Lower Prison</li>
    <li><a href="/wiki/Lower_Prison" class="mw-redirect" title="Lower Prison">Lower Prison</a> - <span
        style="line-height:35px;border: solid 1px #ae8223;padding: 5px;"><span
          style="color:#f2c462;padding-left:5px;padding-right:5px;"><b>Once per league:</b></span><span
          style="color:#bbad98;padding-right:5px;">Complete Trial</span></span> - Go to Upper Prison</li>
    <li><a href="/wiki/Upper_Prison" class="mw-redirect" title="Upper Prison">Upper Prison</a> - Go to Warden's Quarters
    </li>
    <li>Warden's Quarters - Follow Blood to Warden's Chambers</li>
    <li>Warden's Chambers - Kill <span class="text-color -corrupted"><a href="/wiki/Brutus,_Lord_Incarcerator"
          title="Brutus, Lord Incarcerator">Brutus</a></span> - Go to Prisoner's Gate</li>
    <li><a href="/wiki/Prisoner%27s_Gate" title="Prisoner's Gate">Prisoner's Gate</a> - Tag WP - Go to Town</li>
    <li>Town - Talk to NPCs - WP to Prisoner's Gate</li>
    <li>Prisoner's Gate - Go to Ship Graveyard</li>
    <li><a href="/wiki/Ship_Graveyard" class="mw-redirect" title="Ship Graveyard">Ship Graveyard</a> - Tag WP - Go to
      Ship Graveyard Cave</li>
    <li>Ship Graveyard Cave - Pick up <span class="text-color -quest"><span class="c-item-hoverbox"><span
            class="c-item-hoverbox__activator"><img alt=""
              src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/6/6d/Allflame_inventory_icon.png/revision/latest/scale-to-width-down/8?cb=20130626162149"
              decoding="async" data-image-name="Allflame inventory icon.png"
              data-image-key="Allflame_inventory_icon.png"
              data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/6/6d/Allflame_inventory_icon.png/revision/latest/scale-to-width-down/8?cb=20130626162149"
              class=" lazyloaded" width="8" height="16"><a href="/wiki/Allflame"
              title="Allflame">Allflame</a></span></span></span> - Exit Cave</li>
    <li>Ship Graveyard - Kill <span class="text-color -corrupted"><a href="/wiki/Captain_Fairgraves_(monster)"
          title="Captain Fairgraves (monster)">Fairgraves</a></span> - TP to Town</li>
    <li>Town - Talk to NPCs - WP to Ship Graveyard</li>
    <li>Ship Graveyard - Go to Cavern of Wrath</li>
    <li>Cavern of Wrath - Tag WP - Go to Cavern of Anger</li>
    <li><a href="/wiki/The_Cavern_of_Anger_(Act_1)" title="The Cavern of Anger (Act 1)">Cavern of Anger</a> - Go to
      Merveil's Lair</li>
    <li><a href="/wiki/Merveil%27s_Lair" class="mw-redirect" title="Merveil's Lair">Merveil's Lair</a> - Kill <span
        class="text-color -corrupted"><a href="/wiki/Merveil,_the_Siren" title="Merveil, the Siren">Merveil</a></span>
      and <span class="text-color -corrupted"><a href="/wiki/Merveil,_the_Twisted" class="mw-redirect"
          title="Merveil, the Twisted">Merveil, the Twisted</a></span> - Go to Act II</li>
  </ol>
