<h2><span class="mw-headline" id="Act_7">Act 7</span></h2>
<figure class="thumb tright " style="width: 300px"> <a
    href="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/d/d8/Arakaali%2C_Spinner_of_Shadows.png/revision/latest?cb=20170706152108"
    class="image"><img alt=""
      src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/d/d8/Arakaali%2C_Spinner_of_Shadows.png/revision/latest/scale-to-width-down/300?cb=20170706152108"
      decoding="async" class="thumbimage lazyloaded" data-image-name="Arakaali, Spinner of Shadows.png"
      data-image-key="Arakaali%2C_Spinner_of_Shadows.png"
      data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/d/d8/Arakaali%2C_Spinner_of_Shadows.png/revision/latest/scale-to-width-down/300?cb=20170706152108"
      width="300" height="233"></a> <noscript><a
      href="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/d/d8/Arakaali%2C_Spinner_of_Shadows.png/revision/latest?cb=20170706152108"
      class="image"><img alt=""
        src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/d/d8/Arakaali%2C_Spinner_of_Shadows.png/revision/latest/scale-to-width-down/300?cb=20170706152108"
        decoding="async" width="300" height="233" class="thumbimage"
        data-image-name="Arakaali, Spinner of Shadows.png" data-image-key="Arakaali%2C_Spinner_of_Shadows.png"
        data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/d/d8/Arakaali%2C_Spinner_of_Shadows.png/revision/latest/scale-to-width-down/300?cb=20170706152108" /></a></noscript>
  <figcaption class="thumbcaption">
    <p class="caption"><a href="/wiki/Arakaali,_Spinner_of_Shadows" title="Arakaali, Spinner of Shadows">Arakaali,
        Spinner of Shadows</a>, the final boss of Act VII</p>
  </figcaption>
</figure>
<ol>
  <li>Town - Go to Broken Bridge</li>
  <li><a href="/wiki/Broken_Bridge" class="mw-redirect" title="Broken Bridge">Broken Bridge</a> - Go to Crossroads
    (follow road/left)</li>
  <li><a href="/wiki/Crossroads" class="mw-redirect" title="Crossroads">Crossroads</a> - Tag WP (follow road) - Go to
    Fellshrine Ruins (down/right)</li>
  <li><a href="/wiki/Fellshrine_Ruins" class="mw-redirect" title="Fellshrine Ruins">Fellshrine Ruins</a> - Go to Crypt
    (follow road then right)</li>
  <li><a href="/wiki/The_Crypt_Level_1" title="The Crypt Level 1">The Crypt Level 1</a> - Tag WP - <span
      style="line-height:35px;border: solid 1px #ae8223;padding: 5px;"><span
        style="color:#f2c462;padding-left:5px;padding-right:5px;"><b>Once per league:</b></span><span
        style="color:#bbad98;padding-right:5px;">Solve Trial</span></span> - Open <span
      class="text-color -quest">Sarcophagus</span> - Go to Crypt Level 2</li>
  <li><a href="/wiki/The_Crypt_Level_2" title="The Crypt Level 2">The Crypt Level 2</a> - Take <span
      class="text-color -quest"><span class="c-item-hoverbox"><span class="c-item-hoverbox__activator"><img alt=""
            src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/6/6e/Maligaro%27s_Map_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20170804161020"
            decoding="async" data-image-name="Maligaro's Map inventory icon.png"
            data-image-key="Maligaro%27s_Map_inventory_icon.png"
            data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/6/6e/Maligaro%27s_Map_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20170804161020"
            class=" lazyloaded" width="16" height="16"><a href="/wiki/Maligaro%27s_Map"
            title="Maligaro's Map">Maligaro's Map</a></span></span></span> - TP to Town</li>
  <li>Town - WP to Crossroads</li>
  <li>Crossroads - Go to Chamber of Sins (left)</li>
  <li><a href="/wiki/Chamber_of_Sins_Level_1" class="mw-redirect" title="Chamber of Sins Level 1">Chamber of Sins
      Level 1</a> - Place <span class="text-color -quest">Maligaro's Map</span> into the <span
      class="text-color -quest">Map Device</span> - Start Map - Go to Maligaro's Sanctum</li>
  <li>Maligaro's Sanctum - Kill <span class="text-color -corrupted"><a href="/wiki/Maligaro,_the_Artist"
        title="Maligaro, the Artist">Maligaro</a></span>, <span class="text-color -corrupted"><a
        href="/wiki/Black_Death" title="Black Death">Black Death</a></span> and <span class="text-color -corrupted"><a
        href="/wiki/Fidelitas,_Loyalty_Undying" title="Fidelitas, Loyalty Undying">Fidelitas</a></span> - Take <span
      class="text-color -quest"><span class="c-item-hoverbox"><span class="c-item-hoverbox__activator"><img alt=""
            src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/9/9a/Black_Venom_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20170804160605"
            decoding="async" data-image-name="Black Venom inventory icon.png"
            data-image-key="Black_Venom_inventory_icon.png"
            data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/9/9a/Black_Venom_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20170804160605"
            class=" lazyloaded" width="16" height="16"><a href="/wiki/Black_Venom" title="Black Venom">Black
            Venom</a></span></span></span> - TP to Chamber of Sins</li>
  <li>Chamber of Sins Level 1 - Talk to Silk for <span class="text-color -quest"><span class="c-item-hoverbox"><span
          class="c-item-hoverbox__activator"><img alt=""
            src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/b/bc/Obsidian_Key_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20170804161425"
            decoding="async" data-image-name="Obsidian Key inventory icon.png"
            data-image-key="Obsidian_Key_inventory_icon.png"
            data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/b/bc/Obsidian_Key_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20170804161425"
            class=" lazyloaded" width="16" height="16"><a href="/wiki/Obsidian_Key" title="Obsidian Key">Obsidian
            Key</a></span></span></span> - Go to Chamber of Sins Level 2 (direction of WP)</li>
  <li><a href="/wiki/Chamber_of_Sins_Level_2" class="mw-redirect" title="Chamber of Sins Level 2">Chamber of Sins
      Level 2</a> - <span style="line-height:35px;border: solid 1px #ae8223;padding: 5px;"><span
        style="color:#f2c462;padding-left:5px;padding-right:5px;"><b>Once per league:</b></span><span
        style="color:#bbad98;padding-right:5px;">Solve Trial</span></span> - Open <span
      class="text-color -quest">Secret Passage</span> (top/right) - Go to Den</li>
  <li>Den - Tag WP - Go to Ashen Fields (top/right)</li>
  <li><a href="/wiki/The_Ashen_Fields" title="The Ashen Fields">The Ashen Fields</a> - Tag WP - Go to Fortress
    Encampment (follow road to the left/down)</li>
  <li><a href="/wiki/The_Fortress_Encampment" class="mw-redirect" title="The Fortress Encampment">The Fortress
      Encampment</a> - Kill <span class="text-color -corrupted"><a href="/wiki/Greust,_Lord_of_the_Forest"
        title="Greust, Lord of the Forest">Greust</a></span> - Go to Northern Forest</li>
  <li><a href="/wiki/Northern_Forest" class="mw-redirect" title="Northern Forest">Northern Forest</a> - Tag WP - Go to
    Dread Thicket (left/down)</li>
  <li><a href="/wiki/Dread_Thicket" class="mw-redirect" title="Dread Thicket">Dread Thicket</a> - Collect 7 <span
      class="text-color -quest">Fireflies</span> - Go to Den of Despair (center) - Kill <span
      class="text-color -corrupted"><a href="/wiki/Gruthkul,_Mother_of_Despair"
        title="Gruthkul, Mother of Despair">Gruthkul</a></span> - TP to Town</li>
  <li>Town - Talk to NPCs - WP to Northern Forest</li>
  <li>Northern Forest - Go to Causeway (top right/top left)</li>
  <li><a href="/wiki/The_Causeway" title="The Causeway">The Causeway</a> - Tag WP (end of area) - Take <span
      class="text-color -quest"><span class="c-item-hoverbox"><span class="c-item-hoverbox__activator"><img alt=""
            src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/4/4d/Kishara%27s_Star_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20170804160951"
            decoding="async" data-image-name="Kishara's Star inventory icon.png"
            data-image-key="Kishara%27s_Star_inventory_icon.png"
            data-src="https://static.wikia.nocookie.net/pathofexile_gamepedia/images/4/4d/Kishara%27s_Star_inventory_icon.png/revision/latest/scale-to-width-down/16?cb=20170804160951"
            class=" lazyloaded" width="16" height="16"><a href="/wiki/Kishara%27s_Star_(item)"
            title="Kishara's Star (item)">Kishara's Star</a></span></span></span> - Go to Vaal City</li>
  <li><a href="/wiki/Vaal_City" title="Vaal City">Vaal City</a> - Tag WP (middle of zone) - Talk to <a
      href="/wiki/Yeena" title="Yeena">Yeena</a> - Go to The Temple of Decay Level 1</li>
  <li><a href="/wiki/The_Temple_of_Decay_Level_1" title="The Temple of Decay Level 1">The Temple of Decay Level 1</a>
    - Go to The Temple of Decay Level 2</li>
  <li><a href="/wiki/The_Temple_of_Decay_Level_2" title="The Temple of Decay Level 2">The Temple of Decay Level 2</a>
    - Kill <span class="text-color -corrupted"><a href="/wiki/Arakaali,_Spinner_of_Shadows"
        title="Arakaali, Spinner of Shadows">Arakaali</a></span> - Go to Act VIII</li>
  <li>TP to Act 7 Town - Talk to Weylam for reward</li>
</ol>
