* {
    margin: 0;
    padding: 0;
    font-size: 10pt;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    color: #FFFFFF;
    background-color: #181818;
    overflow: hidden;
}

.window {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 1fr;
}

.window-titlebar {
    height: 30px;
    display: flex;
    flex-flow: row nowrap;
    background-color: #121212;
    align-items: center;
}

.window-icon {
    display: flex;
    align-content: center;
    justify-content: center;
    user-select: none;
    -webkit-user-select: none;
}

.window-title {
    flex-grow: 1;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.window-controls {
    user-select: none;
    -webkit-user-select: none;
}
.window-body {
    display: grid;
    grid-template-columns: 50px 1fr;
    overflow: hidden;
}

.window-sidebar {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: #121212;
}

.window-content {
    padding: 50px;
}



/* Window Buttons */
.window-button {
    border: 0px;
    padding-left: 5px;
    padding-right: 5px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    transition: 0.2s;
    cursor: pointer;
}

.window-button-svg {
    fill: #ffffff;
}

.window-button-icon {
    border: 0px;
    margin-left: 8px;
    width: 25px;
    height: 25px;
}

/* Sidebar Buttons */
.sidebar-button {
    border: 0px;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    transition: 0.2s;
    cursor: pointer;
}

.sidebar-button:last-of-type {
    margin-top: auto;
    margin-bottom: 15px;
}

.sidebar-button-svg {
    stroke: #FFFFFF;
}

.settings-button {
    justify-self: flex-end;
    align-content: center;
}

/* Hover / Active Styles */

.window-button:hover {
    background-color: #262626;
}

.window-button:active {
    background-color: #181818;
}

.window-close-hover:hover {
    background-color: #ff3636;
}

.window-close-hover:active {
    background-color: #ff0000;
}

.sidebar-button:hover svg {
    stroke: #00FF00;
    transition: 0.2s;
}

.sidebar-selection {
    stroke: #00FF00;
}

.no-hover:hover {
    background-color: transparent;
}


/* Scroll Bar */
.scroll-enabled {
    overflow-y: auto;
    overflow-x: hidden;
}

.scroll-enabled::-webkit-scrollbar {
    width: 15px;
}
.scroll-enabled::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
}
.scroll-enabled::-webkit-scrollbar-thumb {
    background-color: #363636;
    border-radius: 12px;
    border: 4px solid rgba(0,0,0,0);
    background-clip: content-box;
    min-width: 32px;
    min-height: 32px;
}
.scroll-enabled::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0);
}

#webview {
    width: 800px; 
    height: 600px; 
    overflow-x: hidden;
}

#webview::-webkit-scrollbar {
    width: 15px;
}

#webview::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
}
#webview::-webkit-scrollbar-thumb {
    background-color: #363636;
    border-radius: 12px;
    border: 4px solid rgba(0,0,0,0);
    background-clip: content-box;
    min-width: 32px;
    min-height: 32px;
}
#webview::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0);
}