* {
    margin: 0;
    padding: 0;
    font-size: 10pt;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    color: #00FF00;
    background-color: #181818;
    overflow: hidden;
}

.window {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 1fr;
}

.window-titlebar {
    height: 30px;
    display: flex;
    flex-flow: row nowrap;
    background-color: #121212;
    align-items: center;
}

.window-titlebar > .window-icon {
    margin-left: 4px;
    user-select: none;
    -webkit-user-select: none;
}

.window-titlebar > .window-title {
    flex-grow: 1;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.window-titlebar > .window-controls {
    user-select: none;
    -webkit-user-select: none;
}
.window-body {
    display: grid;
    grid-template-columns: 50px 1fr;
    overflow: hidden;
}

.window-sidebar {
    display: flex;
    flex-flow: column nowrap;
    background-color: #121212;
}

.sidebar-button {
    margin-top: 20px;
    text-align: center;
}

.sidebar-button:last-of-type {
    margin-top: auto;
    margin-bottom: 15px;
}

.settings-button {
    justify-self: flex-end;
    align-content: center;
}

.window-content {
    padding: 20px;
}



/* Window Buttons */

.window-button {
    border: 0px;
    padding-left: 5px;
    padding-right: 5px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    cursor: pointer;
}

.window-button-svg {
    fill: #ffffff;
}

.window-button-icon {
    border: 0px;
    margin-top: 8px;
    margin-left: 3px;
    width: 25px;
    height: 25px;
}

/* Sidebar Buttons */

.nav-button {
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    transition: 0.2s;
    cursor: pointer;
}

.home-button {
    background-color: transparent;
    background-image: url('../images/icons/icon_home.svg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.campaign-button {
    background-color: transparent;
    background-image: url('../images/icons/icon_compass.svg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.task-button {
    background-color: transparent;
    background-image: url('../images/icons/icon_list.svg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.profile-button {
    background-color: transparent;
    background-image: url('../images/icons/icon_profile.svg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.link-button {
    background-color: transparent;
    background-image: url('../images/icons/icon_link.svg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.settings-button {
    background-color: transparent;
    background-image: url('../images/icons/icon_settings.svg');
    background-repeat: no-repeat;
    background-position: center;
}

/* Hover Styles */

.window-hover:hover {
    background-color: #363636;
}

.window-hover:active {
    background-color: #00FF00;
}

.window-close-hover:hover {
    background-color: #ff3636;
}

.window-close-hover:active {
    background-color: #ff0000;
}

.main-hover:hover {
    background-color: #363636;
}

.main-hover:active {
    background-color: #00FF00;
}

/* Scroll Bar */
.scroll-enabled {
    overflow-y: auto;
}

.scroll-enabled::-webkit-scrollbar {
    width: 20px;
}
.scroll-enabled::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
}
.scroll-enabled::-webkit-scrollbar-thumb {
    background-color: #363636;
    border-radius: 6px;
    border: 4px solid rgba(0,0,0,0);
    background-clip: content-box;
    min-width: 32px;
    min-height: 32px;
}
.scroll-enabled::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0);
}





