<!DOCTYPE html>
<html>

<head>
  <title>POE CAMPAIGN COMPANION</title>
  <link rel="stylesheet" href="../public/css/main.css">
  <script defer src="../public/js/main.js"></script>
</head>

<body>
  <div class="window">
    <div class="window-titlebar">
      <div class="window-icon">
        <a class="window-button window-icon-button" href="https://github.com/UsernameError3/poe-campaign-companion" target="_blank" rel="noopener noreferrer"></a>
      </div>
      <div class="window-title">
        <p>POE CAMPAIGN COMPANION</p>
      </div>
      <div class="window-controls">
        <button id="minimizeButton" class="window-button minimize-button normal-hover" title="Minimize"></button>
        <button id="resizeButton" class="window-button maximize-button normal-hover " title="Maximize"></button>
        <button id="closeButton" class="window-button close-button negative-hover" title="Close"></button>
      </div>
    </div>
    <div class="window-body">
      <div class="window-sidebar">
        <div class="sidebar-button"><button id="testButton" class="test-button" title="Test"></button></div>
        <div class="sidebar-button"><button id="testButton" class="test-button" title="Test"></button></div>
        <div class="sidebar-button"><button id="testButton" class="test-button" title="Test"></button></div>
        <div class="sidebar-button"><button id="testButton" class="test-button" title="Test"></button></div>
        <div class="sidebar-button"><button id="testButton" class="test-button" title="Test"></button></div>
        <div class="sidebar-button"><button id="testButton" class="test-button" title="Test"></button></div>
        <div class="sidebar-button"><button id="appSettings" class="settings-button" title="Menu"></button></div>
      </div>
      <div class="window-content scroll-enabled">
        <p>Example Content</p>
        <p>Example Content2</p>
        <p>Example Content</p>
        <p>Example Content2</p>
        <p>Example Content</p>
        <p>Example Content2</p>
        <p>Example Content</p>
        <p>Example Content2</p>
        <p>Example Content</p>
        <p>Example Content2</p>
        <p>Example Content</p>
        <p>Example Content2</p>
        <p>Example Content</p>
        <p>Example Content2</p>
        <p>Example Content</p>
        <p>Example Content2</p>
        <p>Example Content</p>
        <p>Example Content2</p>
        <p>Example Content</p>
        <p>Example Content2</p>
        <p>Example Content</p>
        <p>Example Content2</p>
        <p>Example Content</p>
        <p>Example Content2</p>
        <p>Example Content</p>
        <p>Example Content2</p>
        <p>Example Content</p>
        <p>Example Content2</p>
        <p>Example Content</p>
        <p>Example Content2</p>
        <p>Example Content</p>
        <p>Example Content2</p>
        <p>Example Content</p>
        <p>Example Content2</p>
        <p>Example Content</p>
        <p>Example Content2</p>
        <p>Example Content</p>
        <p>Example Content2</p>
        <p>Example Content</p>
        <p>Example Content2</p>
        <p>Example Content</p>
        <p>Example Content2</p>
        <p>Example Content</p>
        <p>Example Content2</p>
        <p>Example Content</p>
        <p>Example Content2</p>
        <p>Example Content</p>
        <p>Example Content2</p>
        <p>Example Content</p>
        <p>Example Content2</p>
        <p>Example Content</p>
        <p>Example Content2</p>
        <p>Example Content</p>
        <p>Example Content2</p>
        <p>Example Content</p>
        <p>Example Content2</p>
        <p>Example Content</p>
        <p>Example Content2</p>
        <p>Example Content</p>
        <p>Example Content2</p>
        <p>Example Content</p>
        <p>Example Content2</p>
        <p>Example Content</p>
        <p>Example Content2</p>
        <p>Example Content</p>
        <p>Example Content2</p>
        <p>Example Content</p>
        <p>Example Content2</p>
        <p>Example Content</p>
        <p>Example Content2</p>
        <p>Example Content</p>
        <p>Example Content2</p>
        <p>Example Content</p>
        <p>Example Content2</p>
        <p>Example Content</p>
        <p>Example Content2</p>
        <p>Example Content</p>
        <p>Example Content2</p>
        <p>Example Content</p>
        <p>Example Content2</p>
        <p>Example Content</p>
        <p>Example Content2</p>
        <p>Example Content</p>
        <p>Example Content2</p>
        <p>Example Content</p>
        <p>Example Content2</p>
        <p>Example Content</p>
        <p>Example Content2</p>
        <p>Example Content</p>
        <p>Example Content2</p>
        <p>Example Content</p>
        <p>Example Content2</p>
        <p>Example Content</p>
        <p>Example Content2</p>
        <p>Example Content</p>
        <p>Example Content2</p>
        <p>Example Content</p>
        <p>Example Content2</p>
        <p>Example Content</p>
        <p>Example Content5</p>
      </div>
    </div>
  </div>
</body>

</html>